Repository hmcts/juror-api, pull requests merged in 2024-03, with the labels that each got.

#60 reintroduce stg environment vars
  charts/juror-api/values.stg.template.yaml
Labels: ns:juror, prd:juror, rel:juror-api-pr-60

#61 jcde-5mar-merge
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationHolidaysControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/domain/HolidayITest.java
  src/integration-test/resources/db/Holiday.sql
  src/integration-test/resources/db/JurorRecordControllerITest_getJurorBankDetails.sql
  src/integration-test/resources/db/RequestPoolController_initHolidays.sql
  src/integration-test/resources/db/administration/createCourtRooms.sql
  src/integration-test/resources/db/administration/createHolidays.sql
  src/integration-test/resources/db/administration/tearDownCourtRooms.sql
  src/integration-test/resources/db/administration/tearDownCourts.sql
  src/integration-test/resources/db/administration/tearDownHolidays.sql
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/Holidays.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/HolidaysQueries.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/HolidaysRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationHolidaysController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/CourtRates.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/DeferralListDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorBankDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/administration/HolidayDate.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/administration/NonSittingDay.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/PendingApprovalList.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/UpdateCourtDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/administration/CourtRoomDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Courtroom.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/CourtroomRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AdministrationService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AdministrationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/administration/AdministrationCourtRoomService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/administration/AdministrationCourtRoomServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/administration/AdministrationHolidaysService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/administration/AdministrationHolidaysServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/resources/db/migration/V1_26__Holidays_redesign.sql
  src/test/java/uk/gov/hmcts/juror/api/TestConstants.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationHolidaysControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/response/administration/HolidayDateTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/HolidayTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/AdministrationServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/administration/AdministrationCourtRoomServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/administration/AdministrationHolidaysServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-61

#63 jcde-11mar-merge
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_bulkExpenseSetUp.sql
  src/integration-test/resources/db/JurorRecordController_initAttendanceTests.sql
  src/integration-test/resources/db/letter/LetterController_initReissueInitialSummons.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ApproveExpenseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseValuesDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/SimplifiedExpenseDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ExpenseRates.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FormCode.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorExpenseTotals.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/letter/Letter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/AppearanceStage.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/letter/LetterType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorExpenseTotalsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migration/V1_35__Appearance_update.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ApproveExpenseDtoTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/enumeration/FormCodeTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-63

#64 add ContainerTest to smoke and functional
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/juror/api/bureau/notify/JurorCommsNotifyAdapterImplTest.java
  src/functionalTest/java/uk/gov/hmcts/juror/api/bureau/notify/NotifyAdapterImplTest.java
  src/functionalTest/java/uk/gov/hmcts/juror/api/check/controllers/SampleFunctionalTest.java
  src/smokeTest/java/uk/gov/hmcts/juror/api/check/controllers/SampleSmokeTest.java
  src/test/java/uk/gov/hmcts/juror/api/testsupport/ContainerTest.java
  src/test/java/uk/gov/hmcts/juror/api/testsupport/PostgresqlContainer.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-64

#66 Update BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
Labels: bug, ns:juror, prd:juror, rel:juror-api-pr-66

#71 hotfix/JM-6577 Digital response is actually paper in the DB
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ModJurorDetail.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-71

#77 update pnc url
  charts/juror-api/Chart.yaml
  charts/juror-api/values.dev.template.yaml
  charts/juror-api/values.stg.template.yaml
  charts/juror-api/values.yaml
Labels: ns:juror, prd:juror, rel:juror-api-pr-77

#80 hotfix/JM-5795 deferral processing outcome not displayed
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/ExcusalCodeEnum.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-80

#83 JDB-5542 - Refactor hearingDate format
  src/main/java/uk/gov/hmcts/juror/api/juror/controller/response/JurorDetailDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-83

#85 Updated scheme to be https
  src/main/resources/application.yml
Labels: ns:juror, prd:juror, rel:juror-api-pr-85

#86 JDB-5543 - Refactor response replyType
  src/main/java/uk/gov/hmcts/juror/api/juror/controller/PublicEndpointController.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-86

#87 Updated subject to match scheduler subject
  .github/workflows/ci.yml
  Jenkinsfile_CNP
  charts/juror-api/Chart.yaml
  charts/juror-api/values.yaml
Labels: ns:juror, prd:juror, rel:juror-api-pr-87

#79 Added username return once when a user is created
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/UserControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/UserController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/authentication/UsernameDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/UserControllerTest.java
Labels: enhancement, ns:juror, prd:juror, rel:juror-api-pr-79

#89 Fixed issue where view had space prefix on template_id field
  src/main/resources/db/migration/V1_37__dropped_name_from_judge_table.sql
  src/main/resources/db/migration/V1_38__fixed_column_name_bulk_print_data.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-89

#92 Update to align the postponed letter type with front end
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/letter/LetterType.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-92

#93 Task (JM-6611) enhance movement validation endpoint to include juror …
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/resources/db/ManagePoolController_initPoolMembersForTransfer.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorManagementResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-93

#91 Fixed issue with admin get courtroom permissions
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomController.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-91

#94 Removed court_whitelist + Fixed update user permission issue
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseDeferralControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/juror/controller/PublicAuthenticationControllerTest.java
  src/integration-test/resources/db/BureauEndpointControllerTest.updateResponseStatus_unhappy_processingComplete.sql
  src/integration-test/resources/db/PublicAuthenticationControllerTest.publicAuthenticationEndpoint_happy.sql
  src/integration-test/resources/db/PublicAuthenticationControllerTest.publicAuthenticationEndpoint_unhappy_alreadyResponded.sql
  src/integration-test/resources/db/PublicAuthenticationControllerTest.publicAuthenticationEndpoint_unhappy_courtDatePassed.sql
  src/integration-test/resources/db/PublicEndpointControllerTest.ExcusalDeceasedStraightThrough_unhappy_superurgent.sql
  src/integration-test/resources/db/PublicEndpointControllerTest.ExcusalDeceasedSuccessfulStraightThrough_happy.sql
  src/integration-test/resources/db/PublicEndpointControllerTest.respondToSummons_ageExcusal.sql
  src/integration-test/resources/db/PublicEndpointControllerTest.respondToSummons_happy.sql
  src/integration-test/resources/db/PublicEndpointControllerTest.respondToSummons_isSuperUrgentFailedStraightThrough_unhappy.sql
  src/integration-test/resources/db/PublicEndpointControllerTest.respondToSummons_straightThroughTooYoung_unhappy.sql
  src/integration-test/resources/db/ResponseDeferralControllerTest_processJurorDeferral.sql
  src/integration-test/resources/db/ResponseDisqualifyAndExcusalControllerTestData.sql
  src/integration-test/resources/db/StaffManagementControllerTest.changeStaffAssignment_happy.sql
  src/integration-test/resources/db/StaffManagementControllerTest.changeStaffAssignment_unhappy_badStatus.sql
  src/integration-test/resources/db/StaffManagementControllerTest.changeStaffAssignment_unhappy_urgent.sql
  src/integration-test/resources/db/truncate.sql
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtWhitelist.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtWhitelistRepository.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/PublicAuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
  src/main/resources/db/migration/V1_39__Removed_court_whitelist.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-94

#84 Test (JM-6146) add owner check to fetchThinPoolMembers, update unit t…
  .gitignore
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-84

#97 Updated courtroom Permissions
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomController.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-97

#98 terraform: add prod db_size var
  infrastructure/postgres.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: no-changes, ns:juror, prd:juror, rel:juror-api-pr-98

#95 Hotfix/JM-5919 Getting error page while creating a Juror record
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolRequestRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-95

#99 fix prod db
  infrastructure/postgres.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: no-changes, ns:juror, prd:juror, rel:juror-api-pr-99

#101 revert db changes from #99 & #98
  infrastructure/postgres.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: no-changes, ns:juror, prd:juror, rel:juror-api-pr-101

#102 Made /cron async + Fixed issue with Region Template alignment
  src/main/java/uk/gov/hmcts/juror/api/JurorDigitalApplication.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/BureauBatchScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/config/ApplicationBeans.java
  src/main/java/uk/gov/hmcts/juror/api/config/SecurityConfig.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtRegion.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtRegionRepository.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/RegionNotifyTemplate.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/RegionNotifyTemplateQueries.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/RegionNotifyTemplateRepository.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/RegionNotifyTemplateQueriesMod.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-102

#105 hotfix/JM-6660 paper response via digital search fails
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/resources/db/JurorPaperResponse_initPaperResponse.sql
  src/integration-test/resources/db/JurorPaperResponse_initPaperResponse_summonsSnapshot.sql
  src/integration-test/resources/db/JurorPaperResponse_initPoolMembers.sql
  src/integration-test/resources/db/JurorPaperResponse_initPoolMembers_ageDisqualification.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/StaffDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauTransformsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPaperResponseDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/authentication/UserDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-105

#104 As a developer I need to update the PNC batch job to add letters for printing
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_policeCheck.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/BulkPrintDataRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/LetterServiceMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/LetterServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-104

#106 task/JM-6275: As a jury I need to be able to print a certificate of attendance (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/letter/CourtLetterList_CertificateOfAttendance.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/CourtLetterPrintServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-106

#100 Added ability for court users to view financial loss limits
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_draftExpenseSetUp.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-100

#103 Multiple absences fix for court letters
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/letter/CourtLetterList_FailedToAttend.sql
  src/integration-test/resources/db/letter/CourtLetterList_ShowCause.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/LetterController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/letter/court/PrintLettersRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/CourtPrintLetterRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/CourtPrintLetterRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAuditChangeServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/court/CourtLetterPrintServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-103

#110 Dev/jdb 5547
  src/integration-test/java/uk/gov/hmcts/juror/api/juror/controller/PublicEndpointControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/juror/api/juror/controller/request/JurorResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-110

#107 feat: specify storage size and tier in prod
  .github/CODEOWNERS
  infrastructure/postgres.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: no-changes, ns:juror, prd:juror, rel:juror-api-pr-107

#115 update postponed bureau letters to use the correct "Postponed to" header
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/letter/LetterType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterService.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-115

#113 As a developer I want to refactor the message table
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/messages/Message.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/messages/MessageKey.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImpl.java
  src/main/resources/db/migration/V1_40__message_date_type_update.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-113

#120 hotfix/JM-6578
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/summonsmanagement/JurorResponseRetrieveResponseDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-120

#116 Hotfix/JM-6338 Fixes for letter issues
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-116

#126 - add Owner property to the court location data DTO
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/CourtLocationDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CourtQueriesRepositoryImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/CourtLocationControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/response/CourtLocationsListDtoTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/CourtLocationServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-126

#117 JDB-5520 Juror Public expenses calculator
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauEndpointControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ExpenseCalculatorControllerTest.java
  src/integration-test/resources/db/ExpenseCalculatorData_setup.sql
  src/integration-test/resources/db/truncate.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorExpenseCalcServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ExpenseRatesPublic.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ExpenseRatesPublicRepository.java
  src/main/resources/db/migration/V1_41__create_table_expense_rates_public.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorExpenseCalcServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-117

#131 hotfix/JM-6514 Withdrawal letters not being queued
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DisqualifyJurorDueToAgeControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorResponseControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-131

#127 JM-6681: Create V1_42__create_dashboard_stats_tables.sql
  src/main/resources/db/migration/V1_42__create_dashboard_stats_tables.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-127

#129 As a jury officer I need to be able to export contact details - New API (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractControllerIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/integration-test/resources/db/MessagingControllerITest_toCsv.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/MessagingController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/messages/ExportContactDetailsRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/CsvBuilder.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IMessageTemplateRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/MessagingService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/TestConstants.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/messages/ExportContactDetailsRequestTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/CsvBuilderTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-129

#133 hotfix/JM-6007
  src/main/resources/db/migration/V1_43__update_coroner_pool_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-133

#134 JM-6533: Create V1_45__update_bulk_print_data.sql
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/LetterController_deletePendingBureauLetter.sql
  src/integration-test/resources/db/LetterController_initReissueConfirmationLetter.sql
  src/integration-test/resources/db/letter/LetterController_initExcusalLetter.sql
  src/integration-test/resources/db/letter/LetterController_initPoolReissueDeferralLetter.sql
  src/integration-test/resources/db/letter/LetterController_initReissueConfirmationLetter.sql
  src/integration-test/resources/db/letter/LetterController_initReissueWithdrawalLetter.sql
  src/integration-test/resources/db/letter/LetterController_initSummonsReminderLetter.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintData.java
  src/main/resources/db/migration/V1_45__update_bulk_print_data.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-134

#135 Fixed issue where calculate totals would fail when smart card is null
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-135

#137 JM-6533: Update V1_45__update_bulk_print_data.sql
  src/main/resources/db/migration/V1_45__update_bulk_print_data.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-137

#136 hotfix/JM-6664 Processing Outcome not displayed on disqualified response
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DisqualifyJurorITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorSummonsReplyResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/DisqualifyCodeEnum.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/DisqualifyJurorControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-136
