Repository hmcts/juror-api, pull requests merged in 2024-05, with the labels that each got.

#279 Added email to JWT
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AuthenticationControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/config/bureau/BureauJwtPayload.java
  src/test/java/uk/gov/hmcts/juror/api/config/BureauJwtPayloadTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-279

#284 Hotfix/jm 7150
  src/integration-test/resources/db/JurorRecordController_searchForJurorRecords.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-284

#282 Ignored case on search
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseCommonRepositoryModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-282

#287 Last Login Date incorrectly displayed on System Admin > Users screen
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/authentication/UserDetailsDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-287

#289 task/JM-6600: Log changes to users table (users_audit)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/UserControllerITest.java
  src/integration-test/resources/db/administration/createUsers.sql
  src/integration-test/resources/db/administration/teardownUsers.sql
  src/integration-test/resources/db/mod/truncate.sql
  src/main/java/uk/gov/hmcts/juror/api/config/JpaEnversConfig.java
  src/main/java/uk/gov/hmcts/juror/api/moj/audit/AuditorResolver.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/User.java
  src/main/resources/db/migration/V1_65__create_users_audit_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-289

#290 task/JM-6601: Remove references to old STAFF_AUDIT table
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StaffAmendmentAction.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StaffAudit.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StaffAuditKey.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StaffAuditRepository.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-290

#285 Changes for admin user type context and removal of depreciated JWT items
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/TestUtil.java
  src/integration-test/java/uk/gov/hmcts/juror/api/TestUtilTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauBacklogCountControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauEndpointControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauResponsesControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauStaffControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/CourtCatchmentControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ExpenseCalculatorControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseDeferralControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseDisqualifyControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseExcusalControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseSendToCourtControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseUpdateControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AuthenticationControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CourtLocationControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeceasedResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralRequestControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PoolHistoryControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/UndeliverableResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/service/PncCheckServiceClientImplITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/BureauJurorDetailQueries.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/config/bureau/BureauJwtPayload.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AuthenticationController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/test/java/uk/gov/hmcts/juror/api/TestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/config/BureauJwtPayloadTest.java
  src/test/java/uk/gov/hmcts/juror/api/config/SecurityConfigTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeceasedResponseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolHistoryServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorDueToAgeServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-285

#291 add activeUserType to old authentication mechanism
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauAuthenticationController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauAuthenticationServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-291

#292 As a system admin, court locations appear that are already assigned
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-292

#293 Hotfix/jm 7150
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_searchForJurorRecords.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-293

#294 JDB-5561 remove reference SN with reasonableAdjustments
  src/integration-test/java/uk/gov/hmcts/juror/api/juror/controller/PublicEndpointControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/juror/api/juror/controller/request/JurorResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-294

#296 Hotfix/JM-7152 Filter pools for reassignment only
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IPoolRequestRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolRequestRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-296

#300 Made coroner search case-insensitive
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CoronerPoolRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-300

#298 Task/JM-7101 Updates to incomplete service report
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReportITest.java
  src/integration-test/resources/db/mod/reports/IncompleteServiceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/CourtLocationUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-298

#299 task/JM-6602: Refactor the STAFF_JUROR_RESPONSE_AUDIT table
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauEndpointControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauStaffControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImplIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorResponseControllerITest.java
  src/integration-test/resources/db/jurorresponse/RetrieveJurorResponses.sql
  src/integration-test/resources/db/mod/truncate.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StaffJurorResponseAudit.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StaffJurorResponseAuditKey.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StaffJurorResponseAuditRepository.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/AssignOnUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/AutoAssignmentServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/User.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/JurorResponseAuditMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/StaffJurorResponseAuditMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/UserJurorResponseAudit.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorStaffAuditRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/staff/StaffJurorResponseAuditKeyMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/staff/StaffJurorResponseAuditRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/staff/UserJurorResponseAuditRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AssignOnUpdateServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/staff/StaffServiceImpl.java
  src/main/resources/db/migration/V1_66__create_user_juror_response_audit_table.sql
  src/test/java/uk/gov/hmcts/juror/api/TestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/AutoAssignmentServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/staff/StaffServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-299

#301 Amend reapproved audit reports to include amount due
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractControllerIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/FinancialAuditReportsITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/CombinedExpenseDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseDetailsWithOriginalDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseDetailsWithOriginalTotalsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseTotal.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseValuesDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsAppearancesRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsAppearancesRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/FinancialAuditReportServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/CombinedExpenseDetailsDtoTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-301

#238 Chore (JM-7046) add check exception for validating postponement from deferral maintenance
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorManagementRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-238

#303 Fixed issue with non-attendance audit generation
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_submitForApprovalSetUp.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-303

#308 hotfix/JM-7142
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Panel.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-308

#306 hotfix/JM-7240
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-306

#307 hotfix/JM-7047 - Unable to edit and increase number of jurors in a pool request
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/resources/db/EditPoolController_createPool.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/EditPoolServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-307

#304 Task/jm 5900 - Pool Status Report
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolStatusReportITest.java
  src/integration-test/resources/db/reports/poolstatus.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolStatusReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolStatusReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-304

#314 Fixed issue where counts could be miss aligned
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-314

#313 Number of search results not limited by setting SEARCH_RESULT_LIMIT_* in app_setting
  src/integration-test/resources/db/jurorresponse/RetrieveJurorResponses.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseRetrieveServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseRetrieveServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-313

#316 JM-7193 Alter content store table
  src/main/resources/db/migration/V1_69__alter_content_store.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-316

#317 JM-7275: Add loc_code index to voters table
  src/main/resources/db/migration/V1_71__alter_voters_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-317

#327 feat: added Juror DB Admin access
  infrastructure/postgres.tf
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-api-pr-327

#330 Performance fix - Juror Search
  src/main/resources/db/migration/V1_75__create_jurorhistory_index_jurornumber_datecreated.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-330

#322 As a jury/bureau officer I wan to generate a special needs (Reasonable adjustment) report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportITest.java
  src/integration-test/resources/db/mod/reports/ReasonableAdjustmentsReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/DataTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-322

#311 Granting or refusing deferral requests as a Bureau user is failing
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseDeferralController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/DeferralRequestDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-311

#319 Hotfix/jm 7261 - General Performance Improvements
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauOfficerAllocatedRepliesControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/integration-test/resources/db/pool-management/create_voters_disqualified_only.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StatsExcusalsQueries.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/UserQueries.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauOfficerAllocatedRepliesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/JurorResponseQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorDigitalResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/VotersServiceImpl.java
  src/main/resources/application.yml
  src/main/resources/db/migration/V1_70__alter_active_pools_bureau.sql
  src/main/resources/db/migration/V1_72__create_trial_indexes.sql
  src/main/resources/db/migration/V1_73__optimisations_create_indexes.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauOfficerAllocatedRepliesServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-319

#318 Feat (JM-6371) add persons attending summary report
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/TestUtil.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportITest.java
  src/integration-test/resources/db/mod/reports/PersonAttendingSummaryReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReport.java
  src/test/java/uk/gov/hmcts/juror/api/TestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeletePoolServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseRetrieveServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-318

#332 Bug (JM-6371) add ordering to persons attending reports
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-332

#333 PNC batch job does not count meta_data correctly
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/PoliceCheckStatusDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-333

#337 As a developer I want to remove REAPPROEVED_EDIT as a financial audit type
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FinancialAuditDetails.java
  src/main/resources/db/migration/V1_77__removed_reapproval_edit_expense_type.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-337

#338 hotfix/JM-7031 Payment stored procedure does not generate any data in content_store
  src/main/resources/db/migration/V1_79__update_procedure_payment_files_to_clob_write_to_clob.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-338

#326 Feature/JM-6481 Daily Utilisation report
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/UtilisationReportsITest.java
  src/integration-test/resources/db/mod/reports/DailyUtilisationReportsITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/request/StaffMemberCrudResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauResponseSummaryDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/DashboardMandatoryKpiData.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/BureauJurorDetail.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/BureauJurorDetailQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/DailyUtilisationReportJurorsResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/DailyUtilisationReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/VotersRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImpl.java
  src/main/resources/db/migration/V1_68__create_utilisation_report.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-326

#343 Improve the performance of the "Your Work" pages
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-343

#342 Hotfix/jm 7261 - Optimisations
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
  src/main/resources/db/migration/V1_76__create_reasonable_adjustement_cjs_employer_indexes.sql
  src/main/resources/db/migration/V1_80__alter_get_active_pools_at_court_location.sql
  src/main/resources/db/migration/V1_81__create_fname_lname_lowercase_index.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-342

#346 Improve the performance of the "Summons reply search"
  src/main/resources/db/migration/V1_82__summons_search_optimisations.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-346

#349 hotfix/task/JM-7302 Payment stored procedure generates data in incorrectly
  src/main/resources/db/migration/V1_84__update_procedure_payment_files_to_clob_write_to_clob.sql
  src/main/resources/db/migration/V1_87__create_abaccus_view.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-349

#352 CourtComms job sends welsh comms twice
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-352

#353 hotfix/JM-7181 Unable to reassign response multi
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseCommonRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseCommonRepositoryModImpl.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-353

#334 Feat (JM-6367) add absence report
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AbsencesReportITest.java
  src/integration-test/resources/db/mod/reports/AbsencesReportITest.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/AbsencesReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AbsencesReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-334

#348 As a SJO I want to be able to generate a juror amendment report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/AbstractJurorAmendmentReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByDateReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByPoolReportITest.java
  src/integration-test/resources/db/mod/reports/JurorAmendmentReportITest.sql
  src/main/java/uk/gov/hmcts/juror/api/JurorDigitalApplication.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/audit/AuditorResolver.java
  src/main/java/uk/gov/hmcts/juror/api/moj/audit/AuditorRevisionListener.java
  src/main/java/uk/gov/hmcts/juror/api/moj/audit/dto/JurorAudit.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Address.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PoolRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/RevisionInfo.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/AbstractJurorAmendmentReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByDateReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByPoolReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IJurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorServiceMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/audit/JurorAuditService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/audit/JurorAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/IReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/ReportServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DateUtils.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/main/resources/db/migration/V1_86__juror_audit-update.sql
  src/test/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocationTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/AbstractJurorAmendmentReportTestSupport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByDateReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByPoolReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/expense/JurorExpenditureReportHighLevelReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/expense/JurorExpenditureReportLowLevelReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/expense/JurorExpenditureReportMidLevelReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorServiceModImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-348

#360 Hotfix/JM-7181 reassign response and then view it
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-360

#364 UAT - Users only show up in Assign replies if they have at least one reply assigned
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauOfficerAllocatedRepliesControllerTest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-364

#363 Tidied up Standard Report code
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/AbaccusReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/CurrentPoolStatusReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/DeferredListByDateReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryListReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/NextAttendanceDayReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/NonRespondedReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelListDetailedReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelSummaryReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolStatusReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PostponedListByPoolReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/UndeliverableListReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/juror/controller/request/JurorResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/AbstractReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/GroupedReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/StandardReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/StandardTableData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractStandardReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/AbaccusReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/CurrentPoolStatusReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/DeferredListByDateReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryListReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/NextAttendanceDayReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/NonRespondedReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelListDetailedReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelSummaryReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolStatusReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PostponedListByPoolReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/UndeliverableListReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractGroupedReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractStandardReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractStandardReportTestSupport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/AbaccusReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/CurrentPoolStatusReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/DeferredListByDateReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryListReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/NextAttendanceDayReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/NonRespondedReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelListDetailedReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelSummaryReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolStatusReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PostponedListByPoolReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/UndeliverableListReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-363

#367 task/JM-6650 remove legacy letter code
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/resources/db/DeferralMaintenanceController_postponeJuror.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/CertLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/ConfirmationLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/DeferralLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/DisqualificationLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/ExcusalDeniedLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/ExcusalLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/LetterService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/LetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/PostponementLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-367

#328 task/JM-7224: As a jury officer I need to be able to generate a unpaid attendance summary report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReportITest.java
  src/integration-test/resources/db/mod/reports/UnpaidAttendanceSummaryReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-328

#366 WeeklyComms does not pick up any jurors who should receive the comms
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-366

#372 UrgentSuperUrgent job does not execute
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauStaffController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/BureauBatchScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/CloseJurorResponsesScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentSuperUrgentStatusScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauProcessService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardDataServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardSmartSurveyImportImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ScheduledService.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/JurorResponseQueries.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/client/contracts/SchedulerServiceClient.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentSuperUrgentStatusSchedulerTest.java
  src/test/java/uk/gov/hmcts/juror/api/scheduler/UrgentSuperUrgentStatusSchedulerTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-372

#374 Cronbatch excusal completed court comms sends excusal emails twice
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-374

#373 task/JM-7393
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/UtilisationReportsITest.java
  src/integration-test/resources/db/mod/reports/MonthlyUtilisationReportsITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/UtilisationStatsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-373

#376 Task/jm 7393
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/UtilisationReportsITest.java
  src/integration-test/resources/db/mod/reports/MonthlyUtilisationReportsITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-376

#375 Removed cron Job "closeJurorResponses" as this is no longer needed.
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/BureauBatchProcessFactory.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/CloseJurorResponsesScheduler.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/scheduler/BureauBatchProcessFactoryTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-375

#378 Added hasSummonsResponse to common details
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-378

#379 task/JM-7307: Create V1_94__alter_system_params_table.sql
  src/main/resources/db/migration/V1_94__alter_system_params_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-379

#381 Certificate of Attendance - attendance dates appear in random order
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/court/CourtLetterPrintServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-381

#371 Jm 6409
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReportITest.java
  src/integration-test/resources/db/mod/reports/CurrentPoolStatusReportControllerITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-371

#382 hotfix/addPrintAndPaymentProcedures - resolve issues
  src/main/resources/db/migration/V1_92__print_files_procedure.sql
  src/main/resources/db/migration/V1_93__payment_files_procedure.sql
  src/main/resources/db/migration/V1_95__create_sequence_print_file_count.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-382

#394 Last sign in not populated
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-394

#361 As a court officer I want to generate a Panel member status report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelMembersStatusReportITest.java
  src/integration-test/resources/db/mod/reports/PanelMembersStatusReportITest_Typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelMembersStatusReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/DataTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelMembersStatusReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-361

#377 Feat/jm 6424
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AbsencesReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/TrialAttendanceReportITest.java
  src/integration-test/resources/db/mod/reports/TrialAttendanceReportITest.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ReportsJurorPayments.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ReportsJurorPaymentsKey.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Trial.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/ReportsJurorPaymentsDataTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/TrialAttendanceReport.java
  src/main/resources/db/migration/V1_91__expenses_reports_view.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/TrialAttendanceReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-377

#401 hotfix/JM-7419: Update abaccus view
  src/main/resources/db/migration/V1_114__abaccus_view.sql
Labels: ns:juror, prd:juror

#390 As a jury officer I want to be able to generate a jury attendance audit report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryAttendanceAuditReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolAttendanceAuditReportITest.java
  src/integration-test/resources/db/mod/reports/JuryAttendanceAuditReportITest_typical.sql
  src/integration-test/resources/db/mod/reports/PoolAttendanceAuditReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryAttendanceAuditReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolAttendanceAuditReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryAttendanceAuditReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolAttendanceAuditReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-390

#403 Mark as absent doesn't work from record attendance
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-403

#393 Cannot generate a letter on a weekend (Bureau)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/PrintDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/AbstractLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ConfirmLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBaseTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/PostponeLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/RequestInfoLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsReminderLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/WithdrawalLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-393

#405 Chore: add TrialAttendanceReport to the standard report request
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-405

#391 As a jury officer I want to be able to generate an attendance graph (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/AttendanceGraphReportITest.java
  src/integration-test/resources/db/mod/reports/AttendanceGraphReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/AttendanceGraphReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/AttendanceGraphReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-391

#407 revert to master
  infrastructure/postgres.tf
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-407

#409 Cannot edit an absence day
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-409

#392 As a jury and bureau officer I want to generate a excused and disqualified list report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ExcusedAndDisqualifiedListReportITest.java
  src/integration-test/resources/db/mod/reports/ExcusedAndDisqualifiedListReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/ExcusedAndDisqualifiedListReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ExcusedAndDisqualifiedListReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-392

#389 As a bureau officer I want to be able to generate a pool status and graph report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatusAndGraphReportITest.java
  src/integration-test/resources/db/mod/reports/PoolStatusAndGraphReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatusAndGraphReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/groupby/GroupByPaymentType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/groupby/GroupByPoolStatusAndGraphReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTestSupport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatusAndGraphReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/groupby/GroupByPaymentTypeTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-389

#397 As a bureau officer I want to be able generate a pool status.pool status/graph (Pool statistics) report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatisticsReportITest.java
  src/integration-test/resources/db/mod/reports/PoolStatisticsReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatisticsReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatisticsReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-397

#410 Fixed Master
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatisticsReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PoolStatusAndGraphReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-410

#413 Cronbatch urgent super urgent job only picks up digital responses
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentSuperUrgentStatusScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/UrgencyService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/UrgencyServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/JurorResponseQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorPaperResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepositoryImpl.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentSuperUrgentStatusSchedulerTest.java
  src/test/java/uk/gov/hmcts/juror/api/scheduler/UrgentSuperUrgentStatusSchedulerTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-413

#411 Sent to court comms does not pick up any valid requests as the logic is incorrect
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-411

#414 juror_mod.bulk_print_data_notify_comms view fails to work correctly
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/LetterController_deletePendingBureauLetter.sql
  src/integration-test/resources/db/LetterController_initReissueConfirmationLetter.sql
  src/integration-test/resources/db/letter/LetterController_initExcusalLetter.sql
  src/integration-test/resources/db/letter/LetterController_initPoolReissueDeferralDeniedLetter.sql
  src/integration-test/resources/db/letter/LetterController_initPoolReissueDeferralLetter.sql
  src/integration-test/resources/db/letter/LetterController_initReissueConfirmationLetter.sql
  src/integration-test/resources/db/letter/LetterController_initReissueInitialSummons.sql
  src/integration-test/resources/db/letter/LetterController_initReissuePostponeLetter.sql
  src/integration-test/resources/db/letter/LetterController_initReissueWithdrawalLetter.sql
  src/integration-test/resources/db/letter/LetterController_initSummonsReminderLetter.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintDataNotifyComms.java
  src/main/resources/db/migration/V1_115__bulk_print_data_default.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-414

#415 Cronbatch excusal completed court comms does not pick up completed jurors
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsRequestInformationLetterServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-415

#408 As a court officer I want to generate a manual juror report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/ManuallyCreatedJurorsReportITest.java
  src/integration-test/resources/db/JurorRecordController_createJurorRecord.sql
  src/integration-test/resources/db/mod/reports/ManuallyCreatedJurorsReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PendingJuror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/PendingJurorTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/ManuallyCreatedJurorsReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/ManuallyCreatedJurorsReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-408

#388 Aramis file status report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PaymentStatusReportITest.java
  src/integration-test/resources/db/mod/reports/PaymentStatusReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessor.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PaymentData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/PaymentStatusDataTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/PaymentStatusReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/groupby/GroupByPaymentStatus.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DataUtils.java
  src/test/java/uk/gov/hmcts/juror/api/config/SecurityConfigTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PaymentStatusReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-388

#386 task/JM-7411
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurySummoningMonitorReportsITest.java
  src/integration-test/resources/db/mod/reports/JurySummoningMonitor_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/JurySummoningMonitorReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/JurySummoningMonitorReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/reports/JurySummoningMonitorReportControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-386

#387 As a bureau officer I want to generate a electronic police check report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/ElectronicPoliceCheckReportITest.java
  src/integration-test/resources/db/mod/reports/ElectronicPoliceCheckReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/ElectronicPoliceCheckReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/IReport.java
  src/main/resources/db/migration/V1_113__police_check_date.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/ElectronicPoliceCheckReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-387

#416 Task/JM-7433 Confirm the pool history is updated correctly
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PoolHistory.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-416

#398 As a jury officer I want to generate a jury summary report (trial statistics) (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelResultReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/TrialStatisticsReportITest.java
  src/integration-test/resources/db/mod/reports/TrialStatisticsReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/AbstractReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/GroupedTableData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Trial.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelResultReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/TrialStatisticsReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DateUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PanelResultReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/TrialStatisticsReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-398

#385 As a court and bureau officer I want to be able to generate a available list (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/AvailableListReportUtil.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AbsencesReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AvailableListByDateReportBureauITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AvailableListByDateReportCourtITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/AvailableListByPoolReportITest.java
  src/integration-test/resources/db/mod/reports/AvailableListReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/UserService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/GroupedTableData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/StandardTableData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractChoiceReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/AbstractJurorAmendmentReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/AvailableListByDateReportBureau.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/AvailableListByDateReportCourt.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/AvailableListByPoolReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/support/AvailableListReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/support/HasSize.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/IReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/ReportServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTestSupport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/DataTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AbsencesReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AvailableListByDateReportBureauTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/AvailableListByDateReportCourtTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ExcusedAndDisqualifiedListReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PostponedListByDateReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnconfirmedAttendanceReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceReportDetailedReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/AvailableListByPoolReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-385

#419 Update Trials List API to allow for no cap on return limit
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/TrialController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/trial/TrialSearch.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-419

#424 NullPointerException where welsh flag is null on executing completed service comms scheduled job
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-424

#384 JM-6409-Trials
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelTrialReportITest.java
  src/integration-test/resources/db/mod/reports/BallotPanelTrIalITest.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelTrialReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelTrialReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-384

#406 Task/jm 7304 - Adding stored procedures to flyway
  src/main/resources/db/migration/V1_100__hk_delete_log.sql
  src/main/resources/db/migration/V1_101__check_time_expired.sql
  src/main/resources/db/migration/V1_102__housekeeping_content_store_deletion.sql
  src/main/resources/db/migration/V1_103__housekeeping_coroner_deletion.sql
  src/main/resources/db/migration/V1_104__housekeeping_holiday_deletion.sql
  src/main/resources/db/migration/V1_105__housekeeping_juror_deletion.sql
  src/main/resources/db/migration/V1_106__housekeeping_log_deletion.sql
  src/main/resources/db/migration/V1_107__housekeeping_pool_deletion.sql
  src/main/resources/db/migration/V1_108__housekeeping_trial_deletion.sql
  src/main/resources/db/migration/V1_109__housekeeping_utilisation_stats_deletion.sql
  src/main/resources/db/migration/V1_110__housekeeping_juror_digital_deletion.sql
  src/main/resources/db/migration/V1_111__housekeeping_digital_process.sql
  src/main/resources/db/migration/V1_112__housekeeping_process.sql
  src/main/resources/db/migration/V1_96__pool_transfer_stored_procedures.sql
  src/main/resources/db/migration/V1_97__setup_hk_tables.sql
  src/main/resources/db/migration/V1_98__hk_insert_audit.sql
  src/main/resources/db/migration/V1_99__hk_insert_log.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-406

#417 When deferring a juror for a second time I should receive a warning message
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralRequestControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseExcusalService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/DeferralRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-417

#427 task/JM-7105: Fix Court Certificate Attendance View
  src/main/resources/db/migration/V1_118__update_court_certificate_attendance_view.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-427

#425 WeeklyComms picks up jurors but throws an exception when attempting to send the comms
  src/integration-test/java/uk/gov/hmcts/juror/api/juror/controller/PublicEndpointControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DateUtils.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-425
