Repository hmcts/juror-api, pull requests merged in 2024-06, with the labels that each got.

#434 task/JM-7410: SEARCH_RESULT_LIMIT* seems to be applied the wrong way round for BUREAU and BUREAU MANAGER users
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/service/JurorResponseSearchServiceImplTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnconfirmedAttendanceReportITest.java
  src/integration-test/resources/db/mod/reports/UnconfirmedAttendanceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorResponseSearchServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-434

#420 task/JM-7389: As a jury or bureau officer I want to generate a deferred list By Court (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/DeferredListByCourtReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReportITest.java
  src/integration-test/resources/db/mod/reports/DeferredListByCourtReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/DeferredListByCourtReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/DeferredListByCourtReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-420

#435 As a system I need to make sure that satellite and primary courts work correctly
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorAttendanceDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/test/java/uk/gov/hmcts/juror/api/TestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-435

#436 As a jury officer I need to be able to generate a unpaid attendance summary report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReportITest.java
  src/integration-test/resources/db/mod/reports/UnpaidAttendanceSummaryReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnpaidAttendanceSummaryReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-436

#439 Hotfix/jm 7105 - Can see juror without attendances in print Certificate of Attendance search but cannot print
  src/main/resources/db/migration/V1_121__update_certificate_of_attendance_view.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-439

#431 UAT - lets 2 officers summon for the same pool at the same time
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/PoolAdditionalSummonsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/PoolCreateRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-431

#442 Juror number being used in place of pool number on Unpaid Attendance
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-442

#440 Cronbatch excusal completed court comms sends excusal emails twice
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/resources/db/migration/V1_122__removed_duplicate_date.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-440

#444 Feature/JM-6441 Jury summoning monitor report by Pool
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurySummoningMonitorReportsITest.java
  src/integration-test/resources/db/mod/reports/JurySummoningMonitor_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/JurySummoningMonitorReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/JurySummoningMonitorReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PoolHistory.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportServiceImpl.java
  src/main/resources/db/migration/V1_119__create_bureau_snapshot_table.sql
  src/main/resources/db/migration/V1_120__create_JSM_by_pool_function.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/reports/JurySummoningMonitorReportControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-444

#437 add flyway location override
  build.gradle
  charts/juror-api/Chart.yaml
  src/main/resources/application.yml
  src/main/resources/db/migrationv2/.gitkeep
Labels: ns:juror, prd:juror, rel:juror-api-pr-437

#447 Feature/JM-6441 Jury Summoning Monitor report additional test
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurySummoningMonitorReportsITest.java
  src/integration-test/resources/db/mod/reports/JurySummoningMonitor_typical.sql
  src/integration-test/resources/db/mod/truncate.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/resources/db/migration/V1_124__update_JSM_by_pool_function.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-447

#445 As a Bureau officer I want to generate a pool ratio report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolRatioReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolRatioReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolRatioReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-445

#450 hotfix/JM-7478: Drop redundant f_audit_mapping table
  src/main/resources/db/migration/V1_125__drop_f_audit_mapping_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-450

#451 "Requests for further information" and "Withdrawl Letters" document search throwing unhandled reception
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/DisqualifyCode.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-451

#454 task/JM-7292: Technical error when attempting to complete ineligible juror
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/UnconfirmedAttendanceReportITest.java
  src/integration-test/resources/db/mod/reports/UnconfirmedAttendanceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/CompleteServiceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/CompleteServiceServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-454

#455 Pool attendance audit report number list (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AuditControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AuditController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/audit/JurorAuditService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/audit/JurorAuditServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/AuditControllerTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-455

#457 task/JM-7484: Update flyway config
  build.gradle
  src/main/resources/application.yml
Labels: ns:juror, prd:juror, rel:juror-api-pr-457

#351 hotfix/scheduled-job-performance-stats
  src/main/resources/db/migration/V1_88__scheduled_job_performance_stats.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-351

#459 If a juror is returned from a trial, then is added to a new trial as a juror. The juror is shown on both the old and new trial pages
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-459

#443 Added active pool include type to get juror
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/FilterableJurorDetailsRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/FilterableJurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPoolDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtils.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsRequestInformationLetterServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/FilterableJurorDetailsRequestDtoTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-443

#448 Subsistence total can be negative if smartcard spend > subsistence total.
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauEndpointControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/domain/BureauJurorCjsRepositoryTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_approveExpenseSetUp.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseExcusalController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PaymentData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocationTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/AppearanceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/AbaccusReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-448

#462 When viewing expense records created as part of the End Trial and Confirm Attendance flow a technical error is displayed
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-462

#456 Hotfix/jm 7105 - Can see juror without attendances in print Certificate of Attendance search but cannot print
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/CourtPrintLetterRepositoryImpl.java
  src/main/resources/db/migration/V1_126__court_certificate_attendance_altered.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-456

#464 As as Bureau or court officer I need to generate a pool selection list (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolSelectionReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/AvailableListByPoolReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolSelectionListReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/AvailableListByPoolReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolSelectionReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-464

#460 Feature/JM-6443 Jury summoning monitor by court
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurySummoningMonitorReportsITest.java
  src/integration-test/resources/db/mod/reports/JurySummoningMonitor_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CourtLocationRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CourtQueriesRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CourtQueriesRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportServiceImpl.java
  src/main/resources/db/migration/V1_127__create_JSM_by_court_function.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/report/JurySummoningMonitorReportServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-460

#465 Dependency updates
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-465

#466 Edit expenses - Able to add more than one full day
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-466

#467 Smartcard acts as an addition on the juror expenditure reports. It should act as a reduction for approved and addition for re-approved
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/expense/JurorExpenditureReportHighLevelReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/expense/JurorExpenditureReportLowLevelReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/expense/JurorExpenditureReportMidLevelReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/resources/db/migration/V1_129__low_level_finanical_audit_details_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-467

#458 When editing a trial the trial date does not show the date originally set, shows todays date instead
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/trial/TrialSummaryDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-458

#468 Cannot confirm attendance for Juror who has attendances on previous trials
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-468

#471 Fixed flaky fixed test
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/AttendanceGraphReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/AttendanceGraphReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-471

#422 As a jury or bureau officer I want to be able to generate a pool analysis report (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolAnalysisReportITest.java
  src/integration-test/resources/db/mod/reports/PoolAnalysisReportITest_Typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolAnalysisReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/NumberUtils.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/DataTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolAnalysisReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/utils/NumberUtilsTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-422

#473 When logging in email should be case-insensitive
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/UserRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-473

#449 task/JM-7351: Update transfer pool procedure (Bureau Snapshot)
  src/main/resources/db/migration/V1_123__update_transfer_pool_procedure.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-449

#478 notify_template_field for Letter Comms Job is not aligned to new data structure
  build.gradle
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/WelshCourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ICourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/NotifyTemplateFieldMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/NotifyTemplateMapperMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/NotifyTemplateFieldRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorCommonResponseRepositoryMod.java
  src/main/resources/db/migration/V1_133__notify_template_field_updates.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsRequestInformationLetterServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-478

#481 Cannot confirm attendance for Juror who has attendances on previous trials
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-481

#474 Completion of Service report - doesn't return any results
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/CompletionOfServiceReportITest.java
  src/integration-test/resources/db/mod/reports/CompletionOfServiceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/CompletionOfServiceReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/CompletionOfServiceReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-474

#483 task/JM-7474: Response shows in summons response search twice when juror is reassigned to a new pool.
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/service/JurorResponseSearchServiceImplTest.java
  src/integration-test/resources/db/JurorResponseSearchServiceImpl_searchForResponses_bureauOfficer.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/BureauJurorDetailQueries.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorResponseSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ModJurorDetail.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/resources/db/migration/V1_134__add_is_active_to_mod_juror_detail_view.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-483

#485 Feature/JM-6264 Resend an request for information letter
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/LetterController_deletePendingBureauLetter.sql
  src/integration-test/resources/db/letter/LetterController_initInformationRequestLetter.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FormCode.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/letter/LetterType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/BulkPrintDataRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/test/java/uk/gov/hmcts/juror/api/moj/enumeration/FormCodeTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-485

#486 Made token expiry an environmental property.
  charts/juror-api/Chart.yaml
  charts/juror-api/values.yaml
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JwtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
  src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/main/resources/application.yml
Labels: ns:juror, prd:juror, rel:juror-api-pr-486

#469 task/JM-6703 Unable to delete the letter from the printing queue, logs report non unique record
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/resources/db/DeferralMaintenanceProcessJurorTest.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IReissueLetterRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IReissueLetterRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-469

#490 Updated jwt expiry to be a long instead of a string
  charts/juror-api/Chart.yaml
  charts/juror-api/values.yaml
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JwtServiceImpl.java
  src/main/resources/META-INF/additional-spring-configuration-metadata.json
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JwtServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/utils/TestConstants.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-490

#489 Attendance details on unpaid attendance incorrect after returning jury
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-489

#493 Update TrialServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-493

#492 hotfix/JM-7552
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-492

#488 JM-7505 - Certificate of Attendance - juror doesn't appear if they have >1 day attendance
  src/main/resources/db/migration/V1_137__update_court_letter_procedures_views.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-488

#480 task/JM-7351: Update transfer_juror_pool procedure
  src/main/resources/db/migration/V1_136__update_transfer_juror_pool_proc.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-480

#494 Hotfix/printjob fix -
  src/main/resources/db/migration/V1_132__print_files_to_clob_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-494

#487 Add additional attendance info to API response
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-487

#423 Feat (JM-7051) first cut of payments history API
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/mod/JurorRecordHistory.sql
  src/integration-test/resources/db/mod/reports/TrialAttendanceReportITest.sql
  src/main/java/uk/gov/hmcts/juror/api/config/ApplicationBeans.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/THistoryCode.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/juror/JurorHistoryResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/juror/JurorPaymentsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ReportsJurorPayments.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/HistoryCodeMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/THistoryCodeRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/juror/JurorPaymentsSummaryRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtils.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/main/java/uk/gov/hmcts/juror/api/validation/ValidationConstants.java
  src/main/resources/db/migration/V1_116__update_expense_reports_view.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-423

#500 Mark as undeliverable (bulk) (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/UndeliverableResponseControllerITest.java
  src/integration-test/resources/db/UndeliverableResponseController_createInitialPoolRecords.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/UndeliverableResponseController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-500

#498 When editing a juror details I get an incorrect error message
  src/integration-test/java/uk/gov/hmcts/juror/api/ValidationTest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/validation/ValidationConstants.java
  src/main/resources/db/migration/V1_138__update_phone_number_length.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorPaperResponseDtoTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/JurorPaperResponseTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-498

#495 hotfix/JM-7536
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/resources/db/JurorPaperResponse_updatePaperResponseStatus.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-495

#503 Mark as undeliverable (bulk) (FE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordControllerITest_getJurorDetailsFiltered_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPoolDetailsDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-503

#504 Hotfix/jm 7534
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByDateReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByPoolReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/AbstractJurorAmendmentReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReport.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-504

#507 hotfix/JM-7563 Pool type incorrect in pool summary
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolSummaryResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolStatisticsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolStatisticsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-507

#505 Juror history not display trial number or attendance date for trials on trial history events
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseDisqualifyControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseUpdateControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/juror/controller/PublicEndpointControllerIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/resources/db/jurormanagement/ConfirmJuryAttendance.sql
  src/integration-test/resources/db/mod/JurorRecordHistory.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/THistoryCode.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseDisqualifyServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/THistoryCode.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/juror/JurorHistoryResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FormCode.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorHistory.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Panel.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Trial.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/NotifyTemplateFieldRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/HistoryTemplateService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/HistoryTemplateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PartHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PartHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/RequestInformationLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/main/resources/db/migration/V1_139__juror_history_templates.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseDisqualifyServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PartHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/RequestInformationLetterServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorDueToAgeServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-505

#508 Hotfix/JM-6978 Printed Summons reminder letters showing in letters queued
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IReissueLetterRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-508

#511 Remove the error that stops future dates for non-attendance days
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-511

#506 Bug (JM-7534) fix missing data in API
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/JurorAmendmentByJurorReport.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-506

#512 UAT - It shows the wrong time and message in pool history when editing the pool and adding a comment
  src/main/java/uk/gov/hmcts/juror/api/moj/service/EditPoolServiceImpl.java
  src/main/resources/db/migration/V1_140__pool_history_length_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-512

#513 hotfix/JM-7597 Errors when I try to reassign a juror to a satellite and create a new pool
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-513

#517 Export contact details - if results set >500, returns "no matching results"
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/PaginationUtil.java
  src/test/java/uk/gov/hmcts/juror/api/moj/utils/PaginationUtilTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-517

#514 Fix (JM-7614) update expense LocalDateTime formatter to ISO
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/SimplifiedExpenseDetailDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-514

#518 Jury list displays everyone in trial should just display jurors
  src/integration-test/resources/db/mod/reports/JuryListITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryListReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/JuryListReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-518

#516 Add missing history codes
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/resources/db/LetterController_deletePendingBureauLetter.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FormCode.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/messages/MessageSearch.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/RequestInformationLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/resources/db/migration/V1_142__juror_history_update.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/messages/MessageSearchTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-516

#524 Hotfix/JM-7572 renaming flyway script
  src/main/resources/db/migration/V1_143__juror_history_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-524

#525 PAYMENT_JOB fails
  src/main/resources/db/migration/V1_144__content_store_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-525

#526 introduce test.tfvars
  infrastructure/test.tfvars
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-526

#528 correct pgsql_storage_mb
  infrastructure/test.tfvars
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-528

#530 Response shows in summons response search twice when juror is reassigned to a new pool
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseCommonRepositoryModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-530

#531 Technical error if trial number is >10 chars
  src/main/resources/db/migration/V1_145__juror_history_update_ref_length.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-531

#527 Overview section on the overview page for court user not showing correctly
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-527

#529 Court comms optimisation
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-529

#499 Undo Failed to attend not working for SJO screen (BE)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/SjoTasksControllerITest.java
  src/integration-test/resources/db/JurorRecordControllerITest_failedToAttend_undo_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/SjoTasksController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorPoolSearch.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/CompleteServiceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/CompleteServiceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SjoTasksService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SjoTasksServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/SjoTasksControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/CompleteServiceServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/SjoTasksServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-499

#532 Unable to delete the letter from the printing queue, logs report non unique record
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IReissueLetterRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IReissueLetterRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-532

#534 Payment Job adds entries with 0 value
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PaymentStatusReportITest.java
  src/integration-test/resources/db/mod/reports/PaymentStatusReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PaymentData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/PaymentStatusDataTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/resources/db/migration/V1_147__payment_job_update.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-534

#535 CRONBATCH_LETTER_COMMS fails due to renaming schemas
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauStaffControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauTeamControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/domain/TeamRepositoryTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/domain/UserRepositoryTest.java
  src/integration-test/resources/db/BureauTeamServicesTest_findAllTeams.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauTeamController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/StaffDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/TeamDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/Team.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/TeamRepository.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauTransformsService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauTransformsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/TeamService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/TeamServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/User.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauTransformsServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/TeamServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-535

#536 Performance Stats not updating the correct tables
  src/main/resources/db/migration/V1_148__perfomrance_job_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-536

#537 Juror History - Jury confirmed attendance wording incorrect
  src/main/resources/db/migration/V1_149__history_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-537

#538 hotfix/JM-7366 update to housekeeping scripts
  src/main/resources/db/migration/V1_151__housekeeping_process_update.sql
  src/main/resources/db/migration/V1_152__housekeeping_juror_deletion_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-538

#539 Payment files to clob using wrong sequence
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImpl.java
  src/main/resources/db/migration/V1_153__payment_job_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-539

#540 hotfix - Changing status of response sets CHANGED date to NULL on juror_response_aud
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/JurorResponseAuditMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/JurorResponseAuditModKey.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseAuditRepositoryMod.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-540

#542 Performance Stats not Producing and response Stats data
  src/main/resources/db/migration/V1_154__performance_job_updates.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-542

#545 Hotfix - Juror History - history mentioning 'reissued' letters when they're initial
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/court/CourtLetterPrintServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-545

#546 An error is thrown when trying to enter Juror details via front end
  src/main/java/uk/gov/hmcts/juror/api/juror/service/PublicAuthenticationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorServiceMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-546

#548 task/JM-7673: Update PendingJuror - Drop not null constraint (DoB)
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PendingJuror.java
  src/main/resources/db/migration/V1_155__update_pending_juror.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-548

#547 Trying to apply expenses to all days throws technical error
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_draftExpenseSetUp.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-547

#549 Payment Job adds entries with 0 value
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-549

#551 Export contact details via juror number not working
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/MessagingController.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-551

#550 PRINT files are not consolidated into separate files of 2000 rows
  src/main/resources/db/migration/V1_156_print_job_file_split.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-550

#552 Hotfix/jm 7366
  src/main/resources/db/migration/V1_157__housekeeping_juror_deletion_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-552

#557 hotfix - English summons (5221) generated for 457 (Swansea) summoned jurors
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsLetter.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-557

#558 Update users and user_roles tables
  src/main/resources/db/migration/V1_158__updated_username_length.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-558
