Repository hmcts/juror-api, pull requests merged in 2024-10, with the labels that each got.

#775 Task/jm 8165
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ConfirmLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/PostponeLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/RequestInfoLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsReminderLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/WithdrawalLetter.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/AbstractLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-775

#773 task/JM-7945 update to payment files functions
  src/main/resources/db/migrationv2/V2_35__payment_job_updates.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-773

#776 task/JM-8220 update to main utilisation report function
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/UtilisationReportsITest.java
  src/main/resources/db/migrationv2/V2_37__util_report_updates_trials.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-776

#772 Release2
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ExcusalResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/jurormanagement/UnconfirmedJurors.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/DeferralReasonRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/jurormanagement/ConfirmAttendanceDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/jurormanagement/UnconfirmedJurorDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/jurormanagement/UnconfirmedJurorResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurormanagement/JurorStatusEnum.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ConfirmLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/PostponeLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/RequestInfoLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsReminderLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/WithdrawalLetter.java
  src/main/resources/db/migrationv2/V2_35__payment_job_updates.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/enumeration/JurorStatusEnumTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/AbstractLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-772

#781 task/JM-8224 Able to Defer/Postpone a Juror after checking them in
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralRequestControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/DeferralMaintenanceChangeDateTest.sql
  src/integration-test/resources/db/DeferralMaintenanceController_postponeJuror.sql
  src/integration-test/resources/db/DeferralRequestController_createInitialPoolRecords.sql
  src/integration-test/resources/db/JurorRecordController_initAttendanceTests.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorAttendanceDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-781

#786 Task/jm 7747a
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/resources/db/migrationv2/V2_42__update_court_location_loc_court_name_error.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-786

#787 dev/JM-7885 - Update write_printfiles db function
  src/main/resources/db/migrationv2/v2_40__write_printfiles_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-787

#783 task/JM-8136
  src/main/resources/db/migrationv2/V2_39__housekeeping_juror_deletion_update.sql
  src/main/resources/db/migrationv2/V2_41__housekeeping_pool_deletion_update.sql
  src/main/resources/db/migrationv2/V2_43__housekeeping_trial_deletion_update.sql
  src/main/resources/db/migrationv2/V2_44__housekeeping_owner_restrict_list.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-783

#782 Release3
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralRequestControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/UtilisationReportsITest.java
  src/integration-test/resources/db/DeferralMaintenanceChangeDateTest.sql
  src/integration-test/resources/db/DeferralMaintenanceController_postponeJuror.sql
  src/integration-test/resources/db/DeferralRequestController_createInitialPoolRecords.sql
  src/integration-test/resources/db/JurorRecordController_initAttendanceTests.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorAttendanceDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/resources/db/migrationv2/V2_36__util_report_updates_deferrals.sql
  src/main/resources/db/migrationv2/V2_37__util_report_updates_trials.sql
  src/main/resources/db/migrationv2/V2_38__update_court_location_loc_court_name.sql
  src/main/resources/db/migrationv2/V2_39__housekeeping_juror_deletion_update.sql
  src/main/resources/db/migrationv2/V2_40__write_printfiles_update.sql
  src/main/resources/db/migrationv2/V2_41__housekeeping_pool_deletion_update.sql
  src/main/resources/db/migrationv2/V2_42__update_court_location_loc_court_name_error.sql
  src/main/resources/db/migrationv2/V2_43__housekeeping_trial_deletion_update.sql
  src/main/resources/db/migrationv2/V2_44__housekeeping_owner_restrict_list.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterTestUtils.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-782

#794 JM-8232 amend Welsh month translation
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/court/CourtLetterPrintServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/XeroxConstants.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/CourtLetterPrintServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-794

#793 Feature/JM-8227 As a jury officer I want to be able to confirm juror attendance for the day
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/InitAppearanceTests.sql
  src/integration-test/resources/db/jurormanagement/RetrieveAttendanceDetails.sql
  src/integration-test/resources/db/jurormanagement/UnconfirmedJurors.sql
  src/integration-test/resources/db/jurormanagement/UpdateAttendanceDetails.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurormanagement/JurorStatusGroup.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-793
