Repository hmcts/juror-api, pull requests merged in 2024-12, with the labels that each got.

#819 JS-143 Dismiss Pools
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/integration-test/resources/db/RequestPoolController_allPoolsAtCourtLocation.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolRequestRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/main/resources/db/migrationv2/V2_46__get_all_active_pools_at_court.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-819

#823 task/JS-170 Jury attendance audit number is incorrect
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-823

#821 task/JS-167 Failing to resend Initial Summons Letters
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/letter/LetterType.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-821

#826 task/JS-171
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-826

#827 task/JS-150 Pay jurors the higher rate after 2 weeks of service
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-827

#824 Task/JS-130 Stop letters from being sent if the juror is not in the correct status
  src/main/resources/db/migrationv2/V2_47__update_delete_printfiles..sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-824

#828 Task/JS-150 As a jury officer I want to pay jurors the higher rate after 2 weeks of service
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-828

#829 task/JS-19 Automate SSCL amendments to payment file
  src/main/resources/db/migrationv2/V2_49__update_payment_file_clob_function.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-829
