Repository hmcts/juror-api, pull requests merged in 2024-08, with the labels that each got.

#671 Court can not excuse a juror unless they have a response
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-671

#670 When deleting a pool, pool comments should also be deleted
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolRequestRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-670

#664 when 2 active records exist for one juror at separate courts transferred juror record status can be updated be update by actions from the other active record
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralRequestControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ExcusalResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtils.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/test/java/uk/gov/hmcts/juror/api/TestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/staff/StaffServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-664

#661 Wrong error message when adding attendance on absent day
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-661

#674 allow override on cleanDisabled
  build.gradle
Labels: ns:juror, prd:juror, rel:juror-api-pr-674

#672 hotfix/JM-7917 Court deferral letter not working (affects all letters)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorHistory.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/DeferralGrantedLetterListRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-672

#675 Jurors remaining in a summoned status when an excusal is refused. The Juror should go into a "Responded" status.
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-675

#678 Count on approve expenses is misaligned Top count is more then bottom counts (Top count seems to count unique pools where bottom does not)
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-678

#666 Summons processed on date not correct on the summons reply view
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPaperResponseDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-666

#680 task/JM-7989
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/letter/CourtLetterList_DeferralDenied.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/letter/court/LetterListBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/DeferralDeniedLetterListRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-680

#679 Stabilisation9
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/letter/CourtLetterList_DeferralDenied.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPaperResponseDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/letter/court/LetterListBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/DeferralDeniedLetterListRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-679

#681 Expense Audit Report - When an appearance is created, then deleted, then created again we have duplicate audit entries for the same day
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AppearanceCreationService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AppearanceCreationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-681

#683 INC2531610 - Technical error when transferring juror to another court
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-683

#684 Persons attending report both detailed and summary including jurors in juror and panelled status
  src/integration-test/resources/db/mod/reports/PersonAttendingSummaryReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-684

#682 Returning a jury doesn't set the trial number on appearance
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/resources/db/trial/Trial.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/trial/PanelController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/CompleteServiceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/CompleteServiceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/RepositoryUtils.java
  src/main/java/uk/gov/hmcts/juror/api/validation/ResponseInspectorImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-682

#686 task/JM-8015 Failed to attend letter
  src/integration-test/resources/db/letter/CourtLetterList_FailedToAttend.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/FailedToAttendLetterListRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-686

#687 task/JM-8018 Show cause court letter
  src/integration-test/resources/db/letter/CourtLetterList_ShowCause.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/ShowCauseLetterListRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-687

#689 task/JM-8016 Court Withdrawal letter
  src/integration-test/resources/db/letter/CourtLetterList_Withdrawal.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/WithdrawalLetterListRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-689

#688 When the Bureau add jurors to an existing pool Summons pack (5221) is not requested
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/letter/LetterController_initReissueInitialSummons.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/letter/LetterType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/RestResponseEntityExceptionHandler.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/bespoke/AbstractJurorAmendmentReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/ExpenseDataTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/PaymentStatusDataTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/PendingJurorTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/datatypes/ReportsJurorPaymentsDataTypes.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/TestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-688

#691 task/JM-8014 Court Excusal refusal letter
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/ExcusalRefusalLetterListRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/court/CourtExcusalRefusedLetterServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-691

#695 Confirming a trial gives a technical error (After Stabilisation 10 deployment)
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AppearanceCreationServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-695

#696 Confirming a trial gives a technical error (After Stabilisation 10 deployment)
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AppearanceCreationServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-696

#694 Hotfix/JM-7788 Juror search name fix
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_searchForJurorRecords.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-694

#698 Confirming a trial attendance can override an existing confirmed attendance
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/AppearanceStage.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-698

#700 INC2529995 - Mismatch in figures between Allocated work from 'Assign Replies' (20) and user's queue to process (18) [HMCTS Ref INC5632895]
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauOfficerAllocatedRepliesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/CombinedJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-700

#703 Fixed issue where total assigned to each bureau user still accounted for transferred jurors
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-703

#704 INC2536487 - When reprinting reminders, the user get a error message - unable to reprint for selected jurors [HMCTS Ref INC5634218]
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/LetterController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-704

#697 Stabilisation 11
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/domain/PoolCreateITest.java
  src/integration-test/resources/db/JurorRecordController_searchForJurorRecords.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauOfficerAllocatedRepliesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/LetterController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Voters.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/CombinedJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/AppearanceStage.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CourtLocationRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/VotersRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/RevisionService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/RevisionServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/VotersService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/VotersServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurorresponse/JurorResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseServiceImpl.java
  src/main/resources/db/migrationv2/V2_21__court_loc_name_update.sql
  src/main/resources/db/migrationv2/V2_22__performance_updates.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-697

#711 PNC Batch Job fails when a post code contains a double space
  src/main/resources/db/migrationv2/V2_25_require_pnc_batch_strip_double_space.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-711

#710 On deferral letters, the recipient's name is now showing on the address section, however, it has now removed the court location, just coming up as "undefined".
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/CourtPrintLetterRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/court/CourtLetterPrintServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-710

#709 Can not return Jurors that are in any status other then PANEL and JUROR
  build.gradle
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardSmartSurveyImportImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-709

#707 Space is missing before <welsh_courtname> in t_message_template
  src/main/resources/db/migrationv2/V2_23_message_template.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-707

#718 Updated juror name search to ignore case ensuring index's get hit
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-718

#720 Dependency update
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-720

#716 Updating StraightThroughProcessing logging so these don't show up as Exceptions on the Azure dashboards
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorPersistenceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-716

#712 ISSUES WITH COMPLETION OF SERVICE REPORT
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/CompletionOfServiceReportITest.java
  src/integration-test/resources/db/mod/reports/CompletionOfServiceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/CompletionOfServiceReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/CompletionOfServiceReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-712

#719 Improve performance of getting latest juror revision
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/RevisionService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/RevisionServiceImpl.java
  src/main/resources/db/migrationv2/V2_27__juror_audit_index.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/RevisionServiceImplTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-719

#708 Third party details in the juror record does not save the details
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AuditControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ExcusedAndDisqualifiedListReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PoolAttendanceAuditReportITest.java
  src/integration-test/resources/db/JurorRecordController_jurorDetailThirdPartyRequestBureau.sql
  src/integration-test/resources/db/JurorRecordController_processNameChangeApproval.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/EditJurorRecordRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorThirdPartyDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorThirdParty.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/DigitalResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/juror/JurorThirdPartyRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorThirdPartyService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorThirdPartyServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/resources/db/migrationv2/V2_24__juror_third_party_details.sql
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-708

#717 A number of places within the application can return a "Query did not return a unique result" when a juror is within multiple pools
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauEndpointControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/CourtCatchmentControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseDisqualifyControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseExcusalControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseUpdateControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorResponseControllerITest.java
  src/integration-test/resources/db/notify-scenarios.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseDisqualifyServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseExcusalServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseNotesService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtils.java
  src/main/java/uk/gov/hmcts/juror/api/validation/ResponseInspectorImpl.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseDisqualifyServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseExcusalServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdatePhoneNumberRulesTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateThirdPartyRulesTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/validation/ResponseInspectorImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-717

#725 Bureau unable to summon additional jurors to pools. "Something has changed since last viewed" error message is appearing.
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolSummaryResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolStatisticsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolStatisticsServiceTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-725

#726 Third party details in the juror record does not save the details
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorThirdPartyDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/DigitalResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorThirdPartyService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorThirdPartyServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DataUtils.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-726

#727 Setting a user to on-call when they have been transferred from another court fails
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-727

#730 Order Ballot reports by last name
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelTrialReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelTrialReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-730

#731 Daily Utilisation fails if there is no data for a selected day
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/UtilisationReportsITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/UtilisationReportServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-731

#733 Attendance and payment history shows incorrect data
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/juror/JurorPaymentsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/AttendanceType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/FinancialAuditDetailsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsAppearancesRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/juror/JurorPaymentsSummaryRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-733

#735 Hotfix/jm 8074
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/BulkPrintDataRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-735

#574 Update README.md
  README.md
Labels: ns:juror, prd:juror, rel:juror-api-pr-574

#740 Use Lazy loading instead of Eager to reduce database calls
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/domain/JurorReasonableAdjustmentRepositoryTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeceasedResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DisqualifyJurorDueToAgeControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DisqualifyJurorITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ExcusalResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/UndeliverableResponseControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/Holidays.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/JurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/audit/dto/JurorAudit.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorStatusDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/ReissueLetterReponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintDataNotifyComms.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ContactLog.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/CoronerPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FinancialAuditDetails.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ModJurorDetail.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/NotifyTemplateMappingMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PaymentData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PendingJuror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PoolComment.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PoolRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/User.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/JurorReasonableAdjustment.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/messages/Message.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Panel.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Trial.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AppearanceCreationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/VotersService.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-740

#745 Juror showing with a room location when they have not yet attended
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-745

#732 Filtering on service start date on active pool screen only applies to page you filter on
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/ActivePoolFilterQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/PoolRequestedFilterQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestActiveDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestActiveListDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestListDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ActivePoolsBureau.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ActivePoolsCourt.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PoolRequestQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsBureauRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsCourtRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IActivePoolsCourtRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IActivePoolsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IPoolRequestRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolRequestRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestSearchServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/PoolRequestUtils.java
  src/main/java/uk/gov/hmcts/juror/api/validation/ValidationConstants.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestListDtoTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-732

#744 Remove JurorPoolUtils.getSingleActiveJurorPool() and replace with jurorPoolSerive.getActiveRecordFromUser()
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeceasedResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ExcusalResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/UndeliverableResponseControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/JurorRecordException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/RestResponseEntityExceptionHandler.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtils.java
  src/test/java/uk/gov/hmcts/juror/api/TestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorResponseStatusUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtilsTest.java
  src/test/java/uk/gov/hmcts/juror/api/utils/TestConstants.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-744

#748 Permission change to allow the Bureau general users to edit change name / fix error in name option
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-748

#749 hotfix/JM-8103 update to utilisation report functions
  src/integration-test/resources/db/mod/reports/DailyUtilisationReportsITest_typical.sql
  src/main/resources/db/migrationv2/V2_28__util_report_updates.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-749

#755 Set on_call in the database to be a not null field with a default value of (false) to prevent failures for checks such as .ne(false)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/resources/db/CompleteServiceController_InitPoolsAtCourt.sql
  src/integration-test/resources/db/JurorManagementController_poolsAtCourtLocation.sql
  src/integration-test/resources/db/JurorPaperResponse_initPaperResponse.sql
  src/integration-test/resources/db/JurorRecordController_bureauDigitalDetail.sql
  src/integration-test/resources/db/RequestPoolController_poolsAtCourtLocation.sql
  src/integration-test/resources/db/letter/LetterController_initInformationRequestLetter.sql
  src/integration-test/resources/db/mod/reports/AbsencesReportITest.sql
  src/integration-test/resources/db/mod/reports/DailyUtilisationReportsITest_typical.sql
  src/integration-test/resources/db/mod/reports/IncompleteServiceReportITest_typical.sql
  src/integration-test/resources/db/mod/reports/JurySummoningMonitor_typical.sql
  src/integration-test/resources/db/mod/reports/PersonAttendingSummaryReportITest_typical.sql
  src/integration-test/resources/db/mod/reports/YieldPerformanceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/resources/db/migrationv2/V2_29__on_call_updates.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-755

#753 Confirm attendance list is taking into account confirmed but returned trial attendances. This should only show the unconfirmed count.
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/UpdateAttendanceDetails.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-753

#752 History stating jury attendance confirmed when return but do not confirm was selected
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-752

#575 Added additional scheduler metrics
  build.gradle
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/JurorCommsCronBatchController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/BureauBatchScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentStatusScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardSmartSurveyImportImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/notify/NotifyAdapterImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/NotifyUtil.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-575
