Repository hmcts/juror-api, pull requests merged in 2024-07, with the labels that each got.

#562 Update flyway script name to V1_156__print_job_file_split.sql
  src/main/resources/db/migration/V1_156__print_job_file_split.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-562

#563 Print file data is incorrect
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DataUtils.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/WithdrawalLetter.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ConfirmLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBaseTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/PostponeLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/WithdrawalLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-563

#564 change to ACR postgres image
  src/test/java/uk/gov/hmcts/juror/api/testsupport/PostgresqlContainer.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-564

#567 try sds ACR
  src/test/java/uk/gov/hmcts/juror/api/testsupport/PostgresqlContainer.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-567

#566 Paper responses currently not tracking when they get the processing status updates
  build.gradle
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseDisqualifyServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseExcusalServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/ProcessingStatus.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseAuditRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeceasedResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorResponseUtils.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentStatusSchedulerTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogCountServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauJurorDetailUrgencyTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseDisqualifyServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseExcusalServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/JurorPaperResponseTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeceasedResponseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/StraightThroughProcessorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/RequestInformationLetterServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorDueToAgeServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/utils/JurorResponseUtilsTest.java
  src/test/java/uk/gov/hmcts/juror/api/scheduler/UrgentStatusSchedulerTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-566

#577 When there is lines missing from an address we need to be able to shuffle the address lines so there is no gaps in the bulk print
  build.gradle
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ConfirmLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/PostponeLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/RequestInfoLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsReminderLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/WithdrawalLetter.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ConfirmLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBaseTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterTestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/PostponeLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/RequestInfoLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsReminderLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/WithdrawalLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-577

#581 Added THE CROWN COURT AT prefix to letters
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/SummonsSnapshot.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ConfirmLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBaseTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterTestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/PostponeLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/RequestInfoLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsReminderLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/WithdrawalLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-581

#587 hotfix/JM-7783 Duplicate bureau users showing in assign response list
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauOfficerAllocatedRepliesControllerTest.java
  src/integration-test/resources/db/BureauOfficerAllocateRepliesService_BacklogData.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-587

#582 update require_pnc_check_view to force postcode values to be uppercase
  src/main/resources/db/migration/V1_159__pnv_view_uppercase_postcode.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-582

#584 Update notify code so it orders the court_region table on fetch
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CourtRegionModRepository.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-584

#583 Cascade utilisation juror status 13 fix to the test environments
  src/main/resources/db/migration/V1_160__update_utilisation_to_include_complete_status.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-583

#579 add @JsonIgnore to stringified address
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Address.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-579

#586 Remove the in in-front of the welsh court name for bi lingual summons
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/WelshCourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/LetterBase.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ConfirmLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/DeferralLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalDeniedLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/ExcusalLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/PostponeLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/RequestInfoLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsReminderLetter.java
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/WithdrawalLetter.java
  src/main/resources/db/migration/V1_161__update_welsh_court_court_name.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ConfirmLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/DeferralLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalDeniedLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/ExcusalLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/LetterTestUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/PostponeLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/RequestInfoLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsReminderLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/WithdrawalLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-586

#594 Moved migration
  src/main/resources/db/migrationv2/V2_1__update_welsh_court_court_name.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-594

#593 Edit expense screen has misaligned data due to rounding to 6dp but only rendering to 2dp
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/BigDecimalUtils.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-593

#592 Existing trials not accessible post migration
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/trial/TrialDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-592

#571 When marking a juror as Failed to attend it errors when there is an absence
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-571

#585 Reasonable adjustment message not displaying on juror record or reports
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/validation/ValidationConstants.java
  src/main/resources/db/migrationv2/V2_2__reasonable_adjustments_message_length_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-585

#595 Court room dropdown autocomplete does not show for some courts
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/trial/TrialSummaryDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-595

#596 hotfix/JM-7791 Redesign locking/unlocking confirm attendance for a day
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorAppearanceResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migrationv2/V2_4__update_appearance_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-596

#597 a Juror that has served for more than 10 days not getting the increased expense rates
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-597

#598 Reasonable adjustment message not displaying on juror record or reports
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/CombinedJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DataUtils.java
  src/main/resources/db/migrationv2/V2_3__update_juror_response_table.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/JurorPaperResponseTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-598

#599 hotfix/JM-7806 returning jury creates multiple audit numbers
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-599

#601 hotfix/JM-7817 View jury list for trial includes old panel members no…
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/resources/db/trial/CreatedJury.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/trial/PanelController.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-601

#602 hotfix/JM-7815 Bureau or court are unable to process an excusal
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ExcusalResponseControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-602

#607 update testcontainer image location
  src/test/java/uk/gov/hmcts/juror/api/testsupport/PostgresqlContainer.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-607

#604 Stabilisation2
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ExcusalResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportITest.java
  src/integration-test/resources/db/ManagePoolController_initPoolMembersForTransfer.sql
  src/integration-test/resources/db/trial/CreatedJury.sql
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/trial/PanelController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Address.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AdministrationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/DataUtils.java
  src/main/resources/db/migrationv2/V2_5__update_payment_files_to_clob_length_fix.sql
  src/main/resources/db/migrationv2/V2_6__update_postcode_to_upper.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/PersonAttendingDetailReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/PersonAttendingSummaryReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/testsupport/PostgresqlContainer.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-604

#616 Summoning progress timing out when trying to search for any court
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/PoolStatisticsWithPoolJoin.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolStatisticsRepositoryImpl.java
  src/main/resources/db/migrationv2/V2_8__updated_pool_stats_performance.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-616

#617 Mileage not calculating correctly
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/FinancialAuditReportsITest.java
  src/integration-test/resources/db/mod/reports/FinancialAuditReportsITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/resources/db/migrationv2/V2_9__updated_juror_audit.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-617

#621 Adding expense limits to user screen
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/UserControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/authentication/UserDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/test/java/uk/gov/hmcts/juror/api/moj/domain/authentication/UserDetailsDtoTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-621

#626 Hotfix/create performance indexes
  src/main/resources/db/migrationv2/V2_12__create_performance_indexes.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-626

#628 Increase test db size
  infrastructure/test.tfvars
Labels: Stabilisation_4

#631 When viewing the juror details page. I should see the attendances for the court I am logged in as not the active court the juror is at
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-631

#633 When viewing the juror details page. I should see the attendances for the court I am logged in as not the active court the juror is at
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/WelshCourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ContactLog.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-633

#630 When viewing the juror details page. I should see the attendances for the court I am logged in as not the active court the juror is at
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardDataServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-630

#632 force pwd reset in test
  infrastructure/postgres.tf
  infrastructure/test.tfvars
  infrastructure/variables.tf
Labels: ns:juror, prd:juror, stg/no-changes, rel:juror-api-pr-632, test/destroy

#634 Stabilisation 4
  infrastructure/test.tfvars
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/FinancialAuditReportsITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardDataServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/WelshCourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ContactLog.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/FinancialAuditReportServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/main/resources/db/migrationv2/V2_12__create_performance_indexes.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-634

#638 Refusing a juror in Def Maintenance If refusing a juror in Def Maint
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-638

#642 hotfix/JM-7911 When a Bureau re-assigns a juror a confirmation pack is sent
  src/integration-test/resources/db/ManagePoolController_initAvailablePools.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-642

#618 When a juror is deferred or excuse from a paper response the green enter summons reply button still shows
  src/integration-test/java/uk/gov/hmcts/juror/api/juror/controller/PublicEndpointControllerIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_jurorDetailRequestCourt.sql
  src/integration-test/resources/db/JurorRecordController_jurorDetailRequestCourtOnly.sql
  src/integration-test/resources/db/JurorRecordController_jurorOverviewRequestBureau.sql
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/resources/db/migrationv2/V2_15__update_juror_add_response_entered_column.sql
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-618

#645 Fixed issue where reassigned pools would cause expenses to fail to re…
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-645

#648 Approval fix
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-648

#644 Stabilisation5
  src/integration-test/java/uk/gov/hmcts/juror/api/juror/controller/PublicEndpointControllerIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/domain/PoolCreateITest.java
  src/integration-test/resources/db/JurorRecordController_jurorDetailRequestCourt.sql
  src/integration-test/resources/db/JurorRecordController_jurorDetailRequestCourtOnly.sql
  src/integration-test/resources/db/JurorRecordController_jurorOverviewRequestBureau.sql
  src/integration-test/resources/db/ManagePoolController_initAvailablePools.sql
  src/main/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/resources/db/migrationv2/V2_13__summoning_updates.sql
  src/main/resources/db/migrationv2/V2_15__update_juror_add_response_entered_column.sql
  src/main/resources/db/migrationv2/V2_16__update_for_performance.sql
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-644

#651 INC2528550 - Unable to summon citizens on Juror - "there is a problem, something went wrong while trying to summon Jurors"[HMCTS Ref INC5632441]
  src/integration-test/resources/db/CreatePoolController_createPoolWithDeferral.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-651

#652 When summoning Jurors a non-unique result error can be returned
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-652

#649 Code fix required to update day confirmation to include all check-in / checked-out jurors that do not have the status of JUROR
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorAppearanceDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/jurormanagement/RetrieveAttendanceDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/jurormanagement/UpdateAttendanceDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/IJurorStatus.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurormanagement/JurorStatusGroup.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-649

#656 Jm 7938
  Jenkinsfile_CNP
  build.gradle
  charts/juror-api/Chart.yaml
  charts/juror-api/values.yaml
  infrastructure/postgres.tf
  src/main/java/uk/gov/hmcts/juror/api/config/db/migration/FlywayConfig.java
  src/main/java/uk/gov/hmcts/juror/api/config/db/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/juror/api/config/db/migration/PendingMigrationScriptException.java
  src/main/resources/application.yml
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-api-pr-656

#655 Stabilisation6
  Jenkinsfile_CNP
  build.gradle
  charts/juror-api/Chart.yaml
  charts/juror-api/values.yaml
  infrastructure/postgres.tf
  src/main/java/uk/gov/hmcts/juror/api/config/db/migration/FlywayConfig.java
  src/main/java/uk/gov/hmcts/juror/api/config/db/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/juror/api/config/db/migration/PendingMigrationScriptException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorAppearanceDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/jurormanagement/RetrieveAttendanceDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/jurormanagement/UpdateAttendanceDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/IJurorStatus.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurormanagement/JurorStatusGroup.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/application.yml
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, stg/add-or-update, prod/add-or-update, rel:juror-api-pr-655

#662 set env var for flyway
  Jenkinsfile_CNP
Labels: ns:juror, prd:juror, rel:juror-api-pr-662

#657 When reassigning a juror to a new pool if I change my selected court to be a Satellite it creates the new pool using the logged in lco code not the one I selected
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/TransferJurorsRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-657

#653 Ballot cards from the pool include all jurors not just responded jurors
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReportITest.java
  src/integration-test/resources/db/mod/reports/BallotPanelPoolReportITest.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-653

#659 Summoning Progress - Dates not aligned on the summoning weeks
  build.gradle
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/ApplicationSettings.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IPoolStatisticsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolStatisticsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ApplicationSettingService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ApplicationSettingServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImpl.java
  src/main/resources/db/migrationv2/V2_17__summons_progress_app_setting.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-659

#660 Juror history links need updating
  src/main/resources/db/migrationv2/V2_18__update_t_history_code_AJUR_template.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-660

#665 Stabilisation7
  build.gradle
  charts/juror-api/Chart.yaml
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReportITest.java
  src/integration-test/resources/db/mod/reports/BallotPanelPoolReportITest.sql
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/ApplicationSettings.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/TransferJurorsRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IPoolStatisticsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolStatisticsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ApplicationSettingService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ApplicationSettingServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImpl.java
  src/main/resources/db/migrationv2/V2_17__summons_progress_app_setting.sql
  src/main/resources/db/migrationv2/V2_18__update_t_history_code_AJUR_template.sql
  src/main/resources/db/migrationv2/V2_19__added_combined_phone_number.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/BallotPanelPoolReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-665
