Repository hmcts/juror-api, pull requests merged in 2024-09, with the labels that each got.

#758 hotfix/JM-7928 update to utilisation report query
  src/integration-test/resources/db/mod/reports/DailyUtilisationReportsITest_typical.sql
  src/main/resources/db/migrationv2/V2_31__util_report_update.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-758

#761 Hotfix/jm 7928
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/resources/db/CompleteServiceController_InitPoolsAtCourt.sql
  src/integration-test/resources/db/JurorManagementController_poolsAtCourtLocation.sql
  src/integration-test/resources/db/JurorPaperResponse_initPaperResponse.sql
  src/integration-test/resources/db/JurorRecordController_bureauDigitalDetail.sql
  src/integration-test/resources/db/RequestPoolController_poolsAtCourtLocation.sql
  src/integration-test/resources/db/jurormanagement/UpdateAttendanceDetails.sql
  src/integration-test/resources/db/letter/LetterController_initInformationRequestLetter.sql
  src/integration-test/resources/db/mod/reports/AbsencesReportITest.sql
  src/integration-test/resources/db/mod/reports/DailyUtilisationReportsITest_typical.sql
  src/integration-test/resources/db/mod/reports/IncompleteServiceReportITest_typical.sql
  src/integration-test/resources/db/mod/reports/JurySummoningMonitor_typical.sql
  src/integration-test/resources/db/mod/reports/PersonAttendingSummaryReportITest_typical.sql
  src/integration-test/resources/db/mod/reports/YieldPerformanceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/JurorCommsCronBatchController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/BureauBatchScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentStatusScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardSmartSurveyImportImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/notify/NotifyAdapterImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/NotifyUtil.java
  src/main/resources/db/migrationv2/V2_29__on_call_updates.sql
  src/main/resources/db/migrationv2/V2_30__util_report_update.sql
  src/main/resources/db/migrationv2/V2_31__util_report_update.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-761

#759 hotfix/JM-8116: Updated electronic police check 'checks timed out' report header
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/ElectronicPoliceCheckReportITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-759

#769 Task/JM-8188 Pre-mod userids preventing access to digital response records
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-769

#757 Release1
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/TestUtil.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AuthenticationControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/ElectronicPoliceCheckReportITest.java
  src/integration-test/resources/db/CompleteServiceController_InitPoolsAtCourt.sql
  src/integration-test/resources/db/JurorManagementController_poolsAtCourtLocation.sql
  src/integration-test/resources/db/JurorPaperResponse_initPaperResponse.sql
  src/integration-test/resources/db/JurorRecordController_bureauDigitalDetail.sql
  src/integration-test/resources/db/JurorRecordController_createManualJurorRecord.sql
  src/integration-test/resources/db/RequestPoolController_poolsAtCourtLocation.sql
  src/integration-test/resources/db/jurormanagement/UpdateAttendanceDetails.sql
  src/integration-test/resources/db/letter/LetterController_initInformationRequestLetter.sql
  src/integration-test/resources/db/mod/reports/AbsencesReportITest.sql
  src/integration-test/resources/db/mod/reports/IncompleteServiceReportITest_typical.sql
  src/integration-test/resources/db/mod/reports/JurySummoningMonitor_typical.sql
  src/integration-test/resources/db/mod/reports/PersonAttendingSummaryReportITest_typical.sql
  src/integration-test/resources/db/mod/reports/YieldPerformanceReportITest_typical.sql
  src/integration-test/resources/db/mod/truncate.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/JurorCommsCronBatchController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/BureauBatchScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/scheduler/UrgentStatusScheduler.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardSmartSurveyImportImpl.java
  src/main/java/uk/gov/hmcts/juror/api/config/bureau/BureauJwtPayload.java
  src/main/java/uk/gov/hmcts/juror/api/juror/notify/NotifyAdapterImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorManualCreationRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Permission.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/User.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JwtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/NotifyUtil.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
  src/main/resources/db/migrationv2/V2_32__on_call_updates.sql
  src/main/resources/db/migrationv2/V2_33__create_user_permission_table.sql
  src/main/resources/db/migrationv2/V2_34__amend_require_pnc_check_view.sql
  src/test/java/uk/gov/hmcts/juror/api/config/BureauJwtPayloadTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-757

#766 task/JM-8185 Investigate how juror can have no active pools
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-766

#771 Task/JM-8203 Unconfirmed jurors
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/UnconfirmedJurors.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/jurormanagement/ConfirmAttendanceDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/jurormanagement/UnconfirmedJurorDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/jurormanagement/UnconfirmedJurorResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurormanagement/JurorStatusEnum.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/enumeration/JurorStatusEnumTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-771

#774 task/JM-8187 shouldn't be able to mark a juror as deferred w/o DOB
  build.gradle
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/DeferralReasonRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-774
