Repository hmcts/juror-api, pull requests merged in 2024-04, with the labels that each got.

#145 Removed unused dependency
  build.gradle
Labels: ns:juror, prd:juror, rel:juror-api-pr-145

#149 add ora2pg required extensions
  infrastructure/postgres.tf
Labels: ns:juror, prd:juror, stg/destroy, rel:juror-api-pr-149

#150 task/JM-6275: Add attendance date to dto
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/letter/court/PrintLetterDataResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/letter/court/CourtLetterPrintServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-150

#151 task/JM-6783: Create V1_46__update_dashboard_stats_tables.sql
  src/main/resources/db/migration/V1_46__update_dashboard_stats_tables.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-151

#153 JM-6680: Create V1_47__update_utilisation_stats.sql
  src/main/resources/db/migration/V1_47__update_utilisation_stats.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-153

#146 feature/JM-6753 Jurors on a trial
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DisqualifyJurorITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/JurorsOnTrial.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorsOnTrialResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/DisqualifyCodeEnum.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/DisqualifyJurorControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/utils/JurorPoolUtilsTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-146

#155 hotfix/JM-6670
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPaperResponseDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-155

#154 task/JM-6464 (aka JM-6775) Summons Reminder Letter fix to return form code for letters not printed
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/resources/db/letter/LetterController_initSummonsReminderLetter.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IReissueLetterRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IReissueLetterRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-154

#160 JM-6783: Update stats_deferrals table (fix column name typo)
  src/main/resources/db/migration/V1_49__update_dashboard_stats_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-160

#159 JDB-5558 refactor api align with script V1_46
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StatsDeferrals.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StatsExcusals.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StatsNotResponded.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StatsNotRespondedTotals.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardCalculateServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardCalculateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardDataServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-159

#165 Hotfix/summons reply letter it
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-165

#164 hotfix/JM-6720
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-164

#166 Hotfix/JM-6756 Approved expenses shows as unapproved
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/main/resources/db/migration/V1_50__update_expenses_views.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-166

#157 Task/jm 6393 - As a jury officer I need to be able to add more members to a panel
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/resources/db/trial/Panel.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/trial/PanelController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-157

#170 JM-6783: Add attendance_audit_number database properties and sequence
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/resources/db/migration/V1_51__create_attendance_audit_no.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-170

#163 hotfix/JM-6583: SQL Changes needed for certificate of attendance
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/letter/court/CertificateOfAttendanceLetterData.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-163

#171 Bug (JM-6779) add ability for bureau to create nil pool
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/integration-test/resources/db/RequestPoolController_initDeferrals.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolController.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-171

#172 hotfix/JM-6846 - update default expenses to ignore ABSENT days
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-172

#173 Updated length of excusal reason code to match DB
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseExcusalControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/ResponseExcusalController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/ExcusalCodeEntity.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/ExcusalCodeRepository.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/ResponseExcusalServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/DeferralReasonRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/ExcusalDecisionDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/SpecialNeeds.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/resources/db/migration/V1_52__realigned_some_db_values.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/ResponseExcusalServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-173

#174 JM-6742: Generate attendance audit number when confirming Jury Attendance
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/ConfirmJuryAttendance.sql
  src/integration-test/resources/db/jurormanagement/JurorsOnTrial.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-174

#169 Task/jm 6757 - Where PNC updates POLICE_CHECK status to ERROR_RETRY_NO_ERROR_REASON Court record shows "In progress"
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsCommonResponseDto.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-169

#178 JM-6799: Fixed bug & updated tests.
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/UserController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-178

#158 feature/JM-6599 Confirm juror identity
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_InitConfirmJurorIdentity.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/ConfirmIdentityDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/IdCheckCodeEnum.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/enumeration/IdCheckCodeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-158

#176 hotfix/JM-6824 Set current owner
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorPaperResponse_initPaperResponse.sql
  src/integration-test/resources/db/JurorRecordController_bureauDigitalDetail.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-176

#179 JM-6937: Fix to non-attendance day feature and associated tests.
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-179

#182 hotfix/JM-6778
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorManagementRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-182

#175 JM-6782 - Unable to send reply to colleague
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/StaffControllerITest.java
  src/integration-test/resources/db/staff/changeAssignment.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/StaffController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/DigitalResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/ReplyType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseCommonRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseCommonRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/staff/StaffService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/staff/StaffServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/staff/StaffServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-175

#167 feature/JM-6522 View the expenses details on the juror-record
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/SummaryExpenseDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-167

#183 Bug (JM-6801) allow bureau users to add contact logs to court owned jurors
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-183

#184 JDB-5533a fix deferral dashboard
  src/main/java/uk/gov/hmcts/juror/api/bureau/domain/StatsDeferrals.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-184

#185 hotfix/JM-6934 Return current owner
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPaperResponseDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolSummaryResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/jurorresponse/IJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolStatisticsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/JurorResponseUtils.java
  src/test/java/uk/gov/hmcts/juror/api/moj/utils/JurorResponseUtilsTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-185

#187 Pool Overview -- When i click history as a court user I get redirected to the pool request screen
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolHistoryServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-187

#188 hotfix/JM-6950: Adding panel members to a trial can add jurors from any court (Should be filtered by current court)
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/StaffControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/resources/db/staff/changeAssignment.sql
  src/integration-test/resources/db/trial/CreatedPanel.sql
  src/integration-test/resources/db/trial/Panel.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/trial/CreatePanelDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/trial/PanelController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/TrialRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-188

#190 Hotfix/jm 6778
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/poolmanagement/ReassignPoolMembersResultDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-190

#193 Hotfix/JM-6780 Mark juror as responded
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-193

#192 Bug (JM-6583) Fix certificate of attendance issues
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/letter/court/CertificateOfAttendanceLetterData.java
  src/main/resources/db/migration/V1_54__Create_Certificate_Of_Attendance_View.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-192

#194 Hotfix/jm 6781
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/ReplyMethod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorDueToAgeServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-194

#191 sat_on_jury not being set
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-191

#180 JM-6746: Generate attendance audit numbers when confirming pool attendance (jurors in waiting)
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/ConfirmJuryAttendance.sql
  src/integration-test/resources/db/jurormanagement/UpdateAttendanceDetails.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migration/V1_53__update_attendance_audit_seq.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-180

#195 bump db size
  infrastructure/postgres.tf
Labels: ns:juror, prd:juror, stg/destroy, rel:juror-api-pr-195

#196 hotfix/JM-6954
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-196

#197 hotfix/JM-6951: Adding panel members fails when a juror has more than one attendance
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/resources/db/trial/Panel.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-197

#198 Code Optimisations for Your work pages
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/domain/PoolCreateITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauResponsesController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauYourWorkCounts.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/VotersRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorCommonResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/VotersServiceImpl.java
  src/main/resources/db/migration/V1_55__Performance_Updates.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-198

#200 DB Optimisations - Your work
  src/main/resources/db/migration/ V1_56__Performance_Updates2.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-200

#202 turn off enable_temp_tablespaces_on_local_ssd
  infrastructure/postgres.tf
Labels: ns:juror, prd:juror, stg/destroy, rel:juror-api-pr-202

#189 hotfix/JM-6729 Modify a jurors confirmed attendance
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/jurormanagement/ModifyConfirmedAttendanceDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-189

#205 Hotfix/JM-6971
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-205

#206 hotfix/JM-6982
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/letter/court/PrintLetterDataResponseDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-206

#207 hotfix/JM-7012: Fix available jurors query
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-207

#208 hotfix/JM-7014: Enforce unique trial numbers across the same court location
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-208

#203 Response in Awaiting information list but is complete
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_createJurorOpticReference.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-203

#209 Hotfix/jm 6996
  src/integration-test/resources/db/CreatePoolController_getPoolMemberList.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/PoolMemberFilterRequestQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-209

#213 Added support for optional dynamic dates to trials and panels
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/TrialController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/trial/CreatePanelDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/trial/JurorListRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/trial/ReturnJuryDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/trial/PanelController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-213

#211 hotfix/JM-6227
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/LetterController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/ReissueLetterReponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-211

#210 hotfix/JM-7013: Fix create a panel when trials share the same number across different locations
  src/integration-test/resources/db/trial/Panel.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-210

#216 hotfix/JM-7019
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/DisqualifyJurorServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-216

#217 Feature/JM-6529 Error to deny the jury officer to approve expenses when there is no bank details
  src/integration-test/resources/db/JurorExpenseControllerITest_submitForApprovalSetUp.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-217

#220 hotfix/JM-7028 - Random dismissal - fix to include jurors not in attendance
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/JurorManagementController_poolsAtCourtLocation.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-220

#223 hotfix/JM-7016: Confirm attendance for Panelled jurors
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-223

#218 hotfix/JM-6969: Mark as absent doesn't work from record attendance
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-218

#212 Bug (JM-6975) fix superurgent nulls breaking response report listing
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/JurorResponseQueries.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-212

#214 Fixed issue with flyway migration script
  src/main/resources/db/migration/V1_56__Performance_Updates2.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-214

#226 hotfix/JM-7024: Enforce Check In before processing Empanelment
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-226

#229 hotfix/JM-7049 - Block trials from other courts with same name
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/resources/db/trial/Trial.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/TrialController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-229

#219 hotfix/JM-7025: Update juror management appearance endpoint
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurormanagement/JurorStatusGroup.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-219

#232 hotfix/JM-7076
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-232

#234 task/JM-7087 - Remove duplicate entity (JurorTrial)
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorTrial.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepositoryImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-234

#233 Added tmp fixes for user owner until we move to AD
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UserServiceModImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-233

#231 Added ability for bureau users to filter by court
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-231

#235 Adding an assembly room to a court causes an infinite loop and breaks login when working as system administrator
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/CourtLocation.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Courtroom.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-235

#236 task/JM-7088: Remove pool_number from juror_trial
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PanelControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/resources/db/CreatePoolController_getPoolMemberList.sql
  src/integration-test/resources/db/MessagingControllerITest_postSearchSetup.sql
  src/integration-test/resources/db/MessagingControllerITest_sendMessageSetup.sql
  src/integration-test/resources/db/jurormanagement/JurorsOnTrial.sql
  src/integration-test/resources/db/letter/CourtLetterList_CertificateOfExemption.sql
  src/integration-test/resources/db/trial/CreatedPanel.sql
  src/integration-test/resources/db/trial/EndTrial.sql
  src/integration-test/resources/db/trial/Panel.sql
  src/integration-test/resources/db/trial/ReturnJuryPanel.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/TrialController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/Panel.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/trial/PanelId.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/CourtPrintLetterRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/ITrialRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/trial/PanelRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/ExemptionCertificateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/PanelUtils.java
  src/main/resources/db/migration/V1_58__alter_juror_trial_table.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ExemptionCertificateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/PanelServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-236

#242 Task/jm 7122 - Can't see admin as a normal officer only a manager
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationHolidaysControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationJudgeControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationCourtRoomController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationHolidaysController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationJudgeController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/utils/SecurityUtil.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-242

#243 Reassigning a juror to new pool clears attendance records.
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-243

#245 Added additional utility functions to abstract reports
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractGroupedReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractStandardReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/IDataType.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractGroupedReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractGroupedReportTestSupport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/AbstractReportTestSupport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/CurrentPoolStatusReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-245

#249 Document name search only searches first name, not last name or full name
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/CertificateOfAttendanceListRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-249

#239 Reassigning a juror to new pool clears expense records.
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_getApproveExpenseSetUp.sql
  src/integration-test/resources/db/mod/reports/FinancialAuditReportsITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/RequestDefaultExpensesDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ApportionSmartCardRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ApproveExpenseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/CalculateTotalExpenseRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/DateDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/GetEnteredExpenseRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/draft/DailyExpense.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/DefaultExpenseResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/GetEnteredExpenseResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FinancialAuditDetailsAppearances.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/PaymentMethod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsAppearancesRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IFinancialAuditDetailsAppearancesRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ValidationService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ValidationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/ReportServiceImpl.java
  src/main/resources/db/migration/V1_59__financial_audit_remove_pool_number.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ApproveExpenseDtoTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/GetEnteredExpenseRequestTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/draft/DailyExpenseTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/FinancialAuditServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: bug, ns:juror, prd:juror, rel:juror-api-pr-239

#246 Feature/JM-6481 Incomplete service report - part 1
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReportITest.java
  src/integration-test/resources/db/mod/reports/IncompleteServiceReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/request/StandardReportRequest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/AbstractReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/reports/response/StandardReportResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/AbstractReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/reports/ReportControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/standard/IncompleteServiceReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-246

#252 Reassigning a juror to new pool clears expense records.
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/TestConstants.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-252

#237 Task/jm 6826 - When a juror is on a trial or in attendance it is not displaying in juror management
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/integration-test/resources/db/RequestPoolController_poolsAtCourtLocation.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-237

#255 Reasonable adjustments contains None and N - None
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/integration-test/resources/db/mod/reports/FinancialAuditReportsITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurorresponse/ReasonableAdjustmentsEnum.java
  src/main/resources/db/migration/V1_61__removed_blank_none_from_resonable_adjustments.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-255

#256 UAT - when sorting by name in an active pool it kicks you back to pool requests
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/PoolMemberFilterRequestQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsCourtRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-256

#257 Updated migration to update juror reasonable adjustment code before deleting the redundant code
  src/main/resources/db/migration/V1_61__removed_blank_none_from_resonable_adjustments.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-257

#258 hotfix/JM-7133 Cannot add attendances or non attendance days for jurors once completed
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/InitAddAttendanceDay.sql
  src/integration-test/resources/db/jurormanagement/InitNonAttendance.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/jurormanagement/JurorStatusGroup.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-258

#259 UAT - Numbers on assign reply screen and actual amount on officer to do is different
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauBacklogAllocateControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauBacklogCountControllerTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauOfficerAllocatedRepliesControllerTest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauOfficerAllocatedRepliesController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/request/BureauBacklogAllocateRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauBacklogCountData.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauOfficerAllocatedData.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/AutoAssignmentServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogCountService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogCountServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauOfficerAllocatedRepliesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/UrgencyServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/UserServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/JurorResponseQueries.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/staff/StaffServiceImpl.java
  src/main/resources/db/migration/V1_62__juror_response_table_defaults.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/AutoAssignmentServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogCountServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauOfficerAllocatedRepliesServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/StraightThroughProcessorImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-259

#260 Jurors who have been reassigned pools appear in export contact details search by old pool number
  src/integration-test/resources/db/MessagingControllerITest_postSearchSetup.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-260

#262 Court created pool not displayed when I manually create a juror
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/RequestPoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IPoolRequestRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolRequestRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-262

#261 Able to Check in juror who has not got police check
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/InitAppearanceTests.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorAppearanceResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-261

#263 Hotfix/jm 7149
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/PoolSearchControllerITest.java
  src/integration-test/resources/db/PoolRequestSearchService_initCoronerPoolRequests.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/PoolSearchController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/CoronerPoolFilterRequestQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FilterCoronerPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CoronerPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/CoronerPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ICoronerPoolRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestSearchService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestSearchServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-263

#267 Excluded nulls from print letter response to reduce network traffic
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/letter/court/PrintLetterDataResponseDto.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-267

#264 Added total due / paid to financial audit reports.
  src/integration-test/java/uk/gov/hmcts/juror/api/AbstractControllerIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/bespoke/FinancialAuditReportsITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/CombinedExpenseDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/ExpenseDetailsWithOriginalDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/report/FinancialAuditReportServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/CombinedExpenseDetailsDtoTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-264

#268 task/JM-7155
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FilterCoronerPool.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-268

#265 hotfix/JM-7150 Juror search not available
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_searchForJurorRecords.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorRecordFilterRequestQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FilterJurorRecord.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IJurorRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-265

#276 hotfix/JM-7162
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorRecordFilterRequestQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FilterJurorRecord.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IJurorRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-276

#281 hotfix/JM-7151
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-281

#275 hotfix/JM-6713
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/DeceasedResponseController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeceasedResponseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/DeceasedResponseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-275

#283 Contact details export returns "null" for empty fields
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/messages/ExportContactDetailsRequest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/request/messages/ExportContactDetailsRequestTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-283
