Repository hmcts/juror-api, pull requests merged in 2025-05, with the labels that each got.

#913 JS-299e amend typo
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtPhone.java
  src/main/resources/db/migrationv2/V2_71__update_notify_template_mapping_mapper.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-913

#903 Release5.6
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/notify/JurorCommsNotifyTemplateTypeIntegrationTest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/resources/db/DeferralMaintenance_MoveDeferredJurorTest.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/notify/JurorCommsNotifyTemplateType.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/TrialController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/DeferredJurorMoveRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintDataNotifyComms.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/NotifyTemplateMapperMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtAddress.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtName.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtPhone.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/UpdateCourtDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migrationv2/V2_66__alter_bulk_print_data_notify_comms.sql
  src/main/resources/db/migrationv2/V2_67__create_trigger_bulk_print_notify_comms.sql
  src/main/resources/db/migrationv2/V2_68__insert_notify_template_mapping.sql
  src/main/resources/db/migrationv2/V2_69__insert_notify_template_field.sql
  src/main/resources/db/migrationv2/V2_70__update_notify_template_mapping.sql
  src/main/resources/db/migrationv2/V2_71__update_notify_template_mapping_mapper.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-903

#915 Task/JS-294 >10 and >201 day counts incorrectly count NO SHOW days
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-915

#918 task/JS-321
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-918

#919 Task/JS-347 Confirming attendance doesnt add default travel time
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-919

#916 Interim10
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/resources/db/jurormanagement/InitAddAttendanceDay.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-916

#924 JS-210 mark undeliverable to summoned
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-924

#926 task/JS-383 Apply default expenses does not take into account travel time
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-926

#922 Release5.7
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/juror/api/bureau/notify/JurorCommsNotifyAdapterImplTest.java
  src/functionalTest/java/uk/gov/hmcts/juror/api/bureau/notify/NotifyAdapterImplTest.java
  src/functionalTest/java/uk/gov/hmcts/juror/api/bureau/notify/NotifyAdapterModTest.java
  src/functionalTest/resources/db/notify_adapter_pool.sql
  src/functionalTest/resources/db/notify_template_mapping.sql
  src/functionalTest/resources/db/welsh_enabled.sql
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/resources/db/BureauEndpointControllerTest.updateResponseStatus_unhappy_processingComplete.sql
  src/integration-test/resources/db/DashboardData_setup.sql
  src/integration-test/resources/db/JurorPaperResponse_initDisqualifyLetter_ageDisqualification.sql
  src/integration-test/resources/db/JurorRecordController_courtOwned_NoNotes.sql
  src/integration-test/resources/db/JurorRepositoryTest_findByJurorNumber.sql
  src/integration-test/resources/db/JurorResponseControllerITest_updateResponseStatus_happy.sql
  src/integration-test/resources/db/PoolMemberTransferService_initPoolMembersForTransfer.sql
  src/integration-test/resources/db/PoolMemberTransferService_initTransferBackPoolMember.sql
  src/integration-test/resources/db/PoolMemberTransferService_initTransferredPoolMember.sql
  src/integration-test/resources/db/notify_adapter_pool.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/notify/NotifyAdapterImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/notify/SmsNotification.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/expense/UnpaidExpenseSummaryRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/UnpaidExpenseSummaryResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/juror/service/JurorServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-922

#927 Task/JS-274 Update pool reassignment to avoid issue with appearances
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/AppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-927

#928 task/JS-353 Pool list should be sorted by pool service start date
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/ManagePoolsServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-928

#930 Task/js 229
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/controller/BureauOfficerAllocatedRepliesControllerTest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauBacklogCountData.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauOfficerAllocatedData.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogCountService.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogCountServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauOfficerAllocatedRepliesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/domain/JurorResponseQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-930

#932 Update demo.tfvars - Changing storage size to match up as production
  infrastructure/demo.tfvars
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-932

#934 rebase with master
  build.gradle
  infrastructure/demo.tfvars
Labels: ns:juror, prd:juror, rel:juror-api-pr-934

#935 Update demo.tfvars
  infrastructure/demo.tfvars
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-935
