Repository hmcts/juror-api, pull requests merged in 2025-08, with the labels that each got.

#965 Task/js 415b
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CourtDashboardControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauResponsesController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauDashboardInfoController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauNotificationManagementInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauPoolManagementInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauPoolsUnderRespondedInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauSummonsManagementInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestActiveDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IActivePoolsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/BureauDashboardService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/BureauDashboardServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-965

#958 release5.11
  Dockerfile
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CourtDashboardControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralRequestControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorPaperResponseControllerITest.java
  src/integration-test/resources/db/CourtDashboardAttendanceITest.sql
  src/integration-test/resources/db/DeferralRequestController_createInitialPoolRecords.sql
  src/integration-test/resources/db/DeferralRequestController_createPoolAndResponse.sql
  src/integration-test/resources/db/JurorPaperResponse_initPaperResponse.sql
  src/integration-test/resources/db/JurorPaperResponse_updatePaperResponseStatus.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauResponsesController.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauJurorDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/BureauResponseSummaryDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/response/CourtResponseSummaryDto.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauTransformsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauDashboardInfoController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauNotificationManagementInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauPoolManagementInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauPoolsUnderRespondedInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/bureaudashboard/BureauSummonsManagementInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorPaperResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/RequestDefaultExpensesDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorPaperResponseDetailDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestActiveDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ModJurorDetail.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/AbstractJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/CombinedJurorResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/jurorresponse/DigitalResponse.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IActivePoolsRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepository.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IAppearanceRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/BureauDashboardService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/BureauDashboardServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/CourtDashboardServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseServiceImpl.java
  src/main/resources/db/migrationv2/V2_81__update_mod_juror_detail_view.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorPaperResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-958

#973 Task/JS-474
  src/main/java/uk/gov/hmcts/juror/api/moj/xerox/letters/SummonsLetter.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/AbstractLetterTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/xerox/SummonsLetterTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-973

#972 Task/JS-297
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorRecordControllerITest.java
  src/integration-test/resources/db/JurorRecordController_editJurorRecord.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintData.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PrintDataServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-972

#975 JS-529 update Taunton phone number
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtPhone.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-975

#978 JS-340 update payment to clob sp
  src/main/resources/db/migrationv2/V2_82__update_payment_files_to_clob_sp.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-978

#980 task/JS-532 Adding jurors on call to Court dashboard
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CourtDashboardControllerITest.java
  src/integration-test/resources/db/CourtDashboardAttendanceITest.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/courtdashboard/CourtAttendanceInfoDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/CourtDashboardServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-980

#981 JS-227 - Add Nil Pool search option
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/PoolSearchRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/IPoolRequestSearchQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/PoolRequestSearchQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolRequestSearchServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-981
