Repository hmcts/juror-api, pull requests merged in 2025-09, with the labels that each got.

#983 task/JS-546 Update for Smart Survey job failing in PROD
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardSmartSurveyImportImpl.java
  src/main/resources/application.yml
Labels: ns:juror, prd:juror, rel:juror-api-pr-983

#990 JS-565 update springDoc dependency
  build.gradle
Labels: ns:juror, prd:juror, rel:juror-api-pr-990

#996 Task/js 553
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/PoolRequestActiveDataDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-996

#997 Task/js 548
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/ActivePoolsRepositoryImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-997

#998 Task/js 530
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/IJurorCommonResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/BureauDashboardServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/summonsmanagement/JurorResponseServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-998

#992 Task/JS-330 Conflicting Emails sent after changes to juror
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/BulkPrintDataRepository.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsRequestInformationLetterServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-992

#1000 Task/JS-558 Merge Non-Breaking Renovate all API's PRs (BE)
  Dockerfile
  build.gradle
Labels: ns:juror, prd:juror, rel:juror-api-pr-1000
