Repository hmcts/juror-api, pull requests merged in 2025-03, with the labels that each got.

#882 Task/JS-290 Juror Address was not updated before the deferral was processed on the summons response
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-882

#884 Task/js 152
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-884

#876 interim8
  README.md
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_expenseRates.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/FinancialLossWarning.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ExpenseRates.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ExpenseRatesDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/AttendanceType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/PayAttendanceType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/DeferralResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ExcusalResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migrationv2/V2_57__update_expense_rates.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/FinancialLossWarningTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/enumeration/PayAttendanceTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-876

#883 task/JS-282 An UNASSIGNED paper response is not allocated to current …
  src/integration-test/resources/db/JurorPaperResponse_updatePaperResponseStatus.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AssignOnUpdateServiceMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AssignOnUpdateServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-883

#886 Task/js 246a
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportITest.java
  src/integration-test/resources/db/mod/reports/ReasonableAdjustmentsReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReport.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/DataTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-886

#887 JS-152 amend edit phone number logic
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/resources/db/migrationv2/V2_59__alter_phone_number_combined.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-887

#885 Release5.4
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportITest.java
  src/integration-test/resources/db/JurorPaperResponse_updatePaperResponseStatus.sql
  src/integration-test/resources/db/mod/reports/ReasonableAdjustmentsReportITest_typical.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/NotifyTemplateMapperMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/DataType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReport.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AssignOnUpdateServiceMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/AssignOnUpdateServiceModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/MessagingServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/resources/db/migrationv2/V2_59__alter_phone_number_combined.sql
  src/main/resources/db/migrationv2/V2_60__update_notify_template_field.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/report/DataTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/report/grouped/ReasonableAdjustmentsReportTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-885

#892 JS-286 alter table pool_comments user_id
  src/main/resources/db/migrationv2/V2_61__alter_pool_comments_user_id.sql
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-892

#893 JS-211 - Email address displayed in juror search results
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/JurorRecordFilterRequestQuery.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/FilterJurorRecord.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-893
