Repository hmcts/juror-api, pull requests merged in 2025-02, with the labels that each got.

#845 Release5.2
  build.gradle
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/LetterControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/integration-test/resources/db/MessagingControllerITest_postSearchSetup.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/DashboardDeferralExcusalServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorDashboardSmartSurveyImportImpl.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/MessagesServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/CompleteServiceController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/HistoryCode.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/messages/MessageSearch.java
  src/main/java/uk/gov/hmcts/juror/api/moj/exception/MojException.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/MessageQueries.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/MessageTemplateRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/letter/court/ExcusalRefusalLetterListRepositoryImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/ReissueLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migrationv2/V2_49__update_court_location_address.sql
  src/main/resources/db/migrationv2/V2_51__update_dashboard_functions.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/letter/ReissueLetterServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-845

#859 Task/JS-191 Utilisation Statistics issue when jurors reassigned between courts
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/resources/db/ManagePoolController_initAvailablePools.sql
  src/integration-test/resources/db/ManagePoolController_initAvailablePools_courtUser.sql
  src/integration-test/resources/db/jurormanagement/reassignJurors.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/resources/db/migrationv2/V2_52__util_report_updates_members.sql
  src/main/resources/db/migrationv2/V2_53__update_juror_pool_table.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-859

#858 Task/JS-165 Investigate missing pool numbers
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-858

#856 Task/JS-176 History events recorded when court officer deletes attendance
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/domain/JurorHistoryCodesITest.java
  src/integration-test/resources/db/jurormanagement/UpdateAttendanceDate.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/HistoryCodeMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migrationv2/V2_54__update_juror_history_codes_table.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-856

#855 task/JS-190 Expense data is being removed
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/TrialControllerITest.java
  src/integration-test/resources/db/trial/ReturnJuryPanel.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/trial/TrialServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-855

#863 task/JS-268 Auto Calculate Court & Travel Time
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/FoodDrinkClaimType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-863

#871 JS-258 Default to 3rd Party
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-871

#872 update require_pnc_check_view
  src/main/resources/db/migrationv2/V2_56__update_require_pnc_check_view.sql
Labels: ns:juror, prd:juror, rel:juror-api-pr-872

#873 JM-182 synch juror status and responses
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-873

#874 interim8
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/integration-test/resources/db/JurorExpenseControllerITest_expenseRates.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/FinancialLossWarning.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Appearance.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ExpenseRates.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/ExpenseRatesDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/AttendanceType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/PayAttendanceType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/resources/db/migrationv2/V2_55__update_expense_rates.sql
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/response/expense/FinancialLossWarningTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/enumeration/PayAttendanceTypeTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-874

#857 Release5.3
  README.md
  build.gradle
  charts/juror-api/Chart.yaml
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorExpenseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorManagementControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/JurorResponseControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/ManagePoolControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/MessagingControllerITest.java
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/domain/JurorHistoryCodesITest.java
  src/integration-test/resources/db/ManagePoolController_initAvailablePools.sql
  src/integration-test/resources/db/ManagePoolController_initAvailablePools_courtUser.sql
  src/integration-test/resources/db/jurormanagement/UpdateAttendanceDate.sql
  src/integration-test/resources/db/jurormanagement/reassignJurors.sql
  src/integration-test/resources/db/jurorresponse/RetrieveJurorResponses.sql
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/JurorPool.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/FoodDrinkClaimType.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/HistoryCodeMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/enumeration/ReplyMethod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorDigitalResponseRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/jurorresponse/JurorResponseCommonRepositoryModImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorPoolServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/SummonsReplyStatusUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/poolmanagement/JurorManagementServiceImpl.java
  src/main/resources/db/migrationv2/V2_52__util_report_updates_members.sql
  src/main/resources/db/migrationv2/V2_53__update_juror_pool_table.sql
  src/main/resources/db/migrationv2/V2_54__update_juror_history_codes_table.sql
  src/main/resources/db/migrationv2/V2_56__update_require_pnc_check_view.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/BureauBacklogAllocateServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorResponseServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/UndeliverableResponseServiceTest.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/expense/JurorExpenseServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-857

#879 task/JS-293 Create juror_eric schema and voters_temp table
  build.gradle
  src/main/resources/db/migrationv2/V2_58__create_juror_er_schema.sql
  src/test/java/uk/gov/hmcts/juror/api/testsupport/PostgresqlContainer.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-879
