Repository hmcts/juror-api, pull requests merged in 2025-04, with the labels that each got.

#898 helm: update to use oci
  charts/juror-api/Chart.yaml
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-898

#896 JS-303 add living overseas entity
  src/main/java/uk/gov/hmcts/juror/api/bureau/controller/BureauEndpointController.java
  src/main/java/uk/gov/hmcts/juror/api/juror/service/ExcusedCompletedCourtCommsServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/EditJurorRecordRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorDetailsResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/response/JurorOverviewResponseDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Juror.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/main/resources/db/migrationv2/V2_64__alter_juror_add_living_overseas_column.sql
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-896

#901 Task/JS-331 Add overseas juror flag on to voters table for new upload
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/integration-test/resources/db/CreatePoolController_addCitizensForCoronerPoolFlags.sql
  src/integration-test/resources/db/CreatePoolController_loadVotersWithOverseasFlags.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Voters.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-901

#902 interim9
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/CreatePoolControllerITest.java
  src/integration-test/resources/db/CreatePoolController_addCitizensForCoronerPoolFlags.sql
  src/integration-test/resources/db/CreatePoolController_loadVotersWithOverseasFlags.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/Voters.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/PoolCreateServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-902

#900 task/JS-310 limit the cost centre codes to 5 characters
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerITest.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/UpdateCourtDetailsDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/controller/AdministrationControllerTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-900

#899 Task/JS-304 choose another court when moving out of Deferral Maintenance
  src/integration-test/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceControllerITest.java
  src/integration-test/resources/db/DeferralMaintenance_MoveDeferredJurorTest.sql
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/DeferralMaintenanceController.java
  src/main/java/uk/gov/hmcts/juror/api/moj/controller/request/DeferredJurorMoveRequestDto.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/deferralmaintenance/ManageDeferralsServiceTest.java
Labels: ns:juror, prd:juror, stg/no-changes, prod/no-changes, rel:juror-api-pr-899

#905 JS-346 Add business validation summoned juror status
  src/main/java/uk/gov/hmcts/juror/api/moj/service/jurormanagement/JurorAppearanceServiceImpl.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-905

#906 Task/js 296
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryService.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorHistoryServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceImpl.java
  src/test/java/uk/gov/hmcts/juror/api/moj/service/JurorRecordServiceTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-906

#909 Task/js 299
  src/integration-test/java/uk/gov/hmcts/juror/api/bureau/notify/JurorCommsNotifyTemplateTypeIntegrationTest.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/notify/JurorCommsNotifyTemplateType.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsLetterServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImpl.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/BulkPrintDataNotifyComms.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/NotifyTemplateMapperMod.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtAddress.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtName.java
  src/main/java/uk/gov/hmcts/juror/api/moj/domain/TemporaryCourtPhone.java
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
  src/main/resources/db/migrationv2/V2_66__alter_bulk_print_data_notify_comms.sql
  src/main/resources/db/migrationv2/V2_67__create_trigger_bulk_print_notify_comms.sql
  src/main/resources/db/migrationv2/V2_68__insert_notify_template_mapping.sql
  src/main/resources/db/migrationv2/V2_69__insert_notify_template_field.sql
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsNotifyPayLoadServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsSentToCourtServiceImplTest.java
  src/test/java/uk/gov/hmcts/juror/api/bureau/service/JurorCommsWeeklyInfoServiceImplTest.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-909

#910 JS-299a fix issue in for test
  src/main/java/uk/gov/hmcts/juror/api/moj/repository/JurorPoolQueries.java
Labels: ns:juror, prd:juror, rel:juror-api-pr-910
